@model SimplCommerce.Module.Core.Areas.Core.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Laptop Cũ Máy Tính Nhập Khẩu Uy Tín Giá Rẻ Tại Đà Nẵng Việt Nam";
}
@section additionalMeta {
    <meta name="DC.title" content="Laptop Cũ Máy Tính Nhập Khẩu Uy Tín Giá Rẻ Tại Đà Nẵng Việt Nam" />
    <meta name="DC.Subject" content="Laptop cũ đà nẵng, laptop đà nẵng, laptop xách tay đà nẵng, laptop giá rẻ đà nẵng,laptop cu tai da nang, laptop cu da nang, mua bán laptop cũ đà nẵng, mua laptop cũ đà nẵng, laptop da nang, laptop rẻ đà nẵng, bán laptop cũ đà nẵng" xml:lang="vi-vn" />
    <meta name="DC.Description" content="Hệ thống Techcare là một trong những trung tâm chuyên cung cấp các dòng sản phẩm laptop cũ máy tính nhập khẩu hoàn toàn chính hãng từ Mỹ với nhiều thương hiệu lớn nổi tiếng." xml:lang="vi-vn" />
    <meta property="og:title" content="Laptop Cũ Máy Tính Nhập Khẩu Uy Tín Giá Rẻ Tại Đà Nẵng Việt Nam" />
    <meta property="og:description" content="Hệ thống Techcare là một trong những trung tâm chuyên cung cấp các dòng sản phẩm laptop cũ máy tính nhập khẩu hoàn toàn chính hãng từ Mỹ với nhiều thương hiệu lớn nổi tiếng." />

}





<div id="content" role="main" class="content-area">


    <section class="section" id="section_649505361">
        <div class="bg section-bg fill bg-fill  bg-loaded">





        </div><!-- .section-bg -->

        <div class="section-content relative">
            @await Component.InvokeAsync("CarouselWidgetCategory")
           
        </div><!-- .section-content -->


        <style scope="scope">
            #section_649505361 {
                padding-top: 0;
                padding-bottom: 0
            }
        </style>
    </section>

    <section class="section" id="section_793547956">
        <div class="bg section-bg fill bg-fill  bg-loaded">





        </div><!-- .section-bg -->

        <div class="section-content relative">

            <div class="row row-collapse" id="row-1605299408">
                <div class="col custom-section-title-normal small-12 large-12">
                    <div class="col-inner">
                        <div class="container section-title-container"><h3 class="section-title section-title-normal"><b></b><span class="section-title-main">Giới thiệu</span><b></b><a href="https://linkgoservices.vn/gioi-thieu" target=""><i class="icon-angle-right"></i></a></h3></div><!-- .section-title -->
                    </div>
                </div>
                <div class="col small-12 large-12">
                    <div class="col-inner">
                        <div class="row row-large align-bottom" id="row-1357563939">
                            <div class="col medium-6 small-12 large-6">
                                <div class="col-inner">
                                    <p>INTESO là công ty chuyên cung cấp các sản phẩm, giải pháp có tính thời đại và công nghệ tiên tiến. Hướng tới sự phát triển toàn cầu hóa, cũng như nhận thức sâu sắc về quy luật kinh tế, INTESO đặt nhiệm vụ hàng đầu là tìm được sản phẩm, giải pháp an toàn, hữu ích và tối ưu nhất với giá cả hợp lý đồng thời mong muốn được trở thành cầu nối đem các thành tựu khoa học kỹ thuật tiên tiến nhất trên thế giới ứng dụng tại Việt Nam. Hiện nay, INTESO đã và đang có những bước tiến vững chắc và dần khẳng định được vị thế của mình trong các mối quan hệ hợp tác lâu dài đối với các đối tác và các khách hàng trong và ngoài nước.</p>
                                    <a href="https://linkgoservices.vn/gioi-thieu" target="_self" class="button primary lowercase button-more-home">
                                        <span>Xem thêm</span>
                                    </a>

                                </div>
                            </div>
                            <div class="col medium-6 small-12 large-6">
                                <div class="col-inner">
                                    <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_439929463">
                                        <div class="img-inner dark">
                                            <img width="581" height="351" src="https://linkgoservices.vn/wp-content/uploads/2018/06/banner-about-1.png" class="attachment-large size-large" alt="" srcset="https://linkgoservices.vn/wp-content/uploads/2018/06/banner-about-1.png 581w, https://linkgoservices.vn/wp-content/uploads/2018/06/banner-about-1-300x181.png 300w" sizes="(max-width: 581px) 100vw, 581px" />
                                        </div>

                                        <style scope="scope">
                                            #image_439929463 {
                                                width: 100%
                                            }
                                        </style>
                                    </div>

                                </div>
                            </div>

                            <style scope="scope"></style>
                        </div>
                    </div>
                </div>

                <style scope="scope"></style>
            </div>
        </div><!-- .section-content -->


        <style scope="scope">
            #section_793547956 {
                padding-top: 50px;
                padding-bottom: 50px
            }
        </style>
    </section>

    <section class="section custom-section-title-center" id="section_666423281">
        <div class="bg section-bg fill bg-fill  bg-loaded">





        </div><!-- .section-bg -->

        <div class="section-content relative">

            <div class="container section-title-container"><h3 class="section-title section-title-center"><b></b><span class="section-title-main">Giải pháp</span><b></b></h3></div><!-- .section-title -->
            <div class="row align-equal" id="row-496543182">
                <div class="col medium-4 small-12 large-4">
                    <div class="col-inner">

                        <div class="icon-box featured-box icon-box-right text-right">
                            <div class="icon-box-img" style="width: 60px">
                                <div class="icon">
                                    <div class="icon-inner">
                                        <img width="61" height="61" src="https://linkgoservices.vn/wp-content/uploads/2018/06/icon-it-services.png" class="attachment-medium size-medium" alt="" />
                                    </div>
                                </div>
                            </div>
                            <div class="icon-box-text last-reset">

                                <h3 style="text-align: right;"><strong><a href="giai-phap/it-services-outsourcing/index.html"><span style="color: #000000;text-decoration: underline;">IT Services &amp; Outsourcing</span></a></strong></h3>
                                <p style="text-align: right;">Với kinh nghiệm, năng lực, và trình độ chuyên môn của mình, chúng tôi tự tin cung cấp các dịch vụ</p>
                            </div>
                        </div><!-- .icon-box -->


                        <div class="gap-element" style="display:block; height:auto; padding-top:30px" class="clearfix"></div>

                        <div class="icon-box featured-box icon-box-right text-right">
                            <div class="icon-box-img" style="width: 60px">
                                <div class="icon">
                                    <div class="icon-inner">
                                        <img width="61" height="61" src="https://linkgoservices.vn/wp-content/uploads/2018/06/icon-wifi.png" class="attachment-medium size-medium" alt="" />
                                    </div>
                                </div>
                            </div>
                            <div class="icon-box-text last-reset">

                                <h3 style="text-align: right;"><strong><a href="giai-phap/wifi-public-wifi-marketing/index.html"><span style="color: #000000;text-decoration: underline;">Wifi Public, Wifi Marketing</span></a></strong></h3>
                                <p style="text-align: right;">LinkGo là đơn vị hàng đầu chuyên nghiệp, chuyên cung cấp các giải pháp về hệ thống mạng không dây</p>
                            </div>
                        </div><!-- .icon-box -->


                        <div class="gap-element" style="display:block; height:auto; padding-top:30px" class="clearfix"></div>

                        <div class="icon-box featured-box icon-box-right text-right">
                            <div class="icon-box-img" style="width: 60px">
                                <div class="icon">
                                    <div class="icon-inner">
                                        <img width="61" height="61" src="https://linkgoservices.vn/wp-content/uploads/2018/06/icon-home.png" class="attachment-medium size-medium" alt="" />
                                    </div>
                                </div>
                            </div>
                            <div class="icon-box-text last-reset">

                                <h3 style="text-align: right;"><strong><a href="giai-phap/nha-thong-minh/index.html"><span style="color: #000000;text-decoration: underline;">Nhà thông minh</span></a></strong></h3>
                                <p style="text-align: right;">Công nghệ nhà thông minh cho phép người dùng điều khiển và giám sát ngôi nhà của mình</p>
                            </div>
                        </div><!-- .icon-box -->


                    </div>
                </div>
                <div class="col medium-4 small-12 large-4">
                    <div class="col-inner">
                        <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_67580455">
                            <div class="img-inner dark">
                                <img width="331" height="415" src="https://linkgoservices.vn/wp-content/uploads/2018/06/banner-home-2.png" class="attachment-large size-large" alt="" srcset="https://linkgoservices.vn/wp-content/uploads/2018/06/banner-home-2.png 331w, https://linkgoservices.vn/wp-content/uploads/2018/06/banner-home-2-239x300.png 239w" sizes="(max-width: 331px) 100vw, 331px" />
                            </div>

                            <style scope="scope">
                                #image_67580455 {
                                    width: 100%
                                }
                            </style>
                        </div>

                    </div>
                </div>
                <div class="col medium-4 small-12 large-4">
                    <div class="col-inner">

                        <div class="icon-box featured-box icon-box-left text-left">
                            <div class="icon-box-img" style="width: 60px">
                                <div class="icon">
                                    <div class="icon-inner">
                                        <img width="61" height="61" src="https://linkgoservices.vn/wp-content/uploads/2018/06/icon-chung-cu.png" class="attachment-medium size-medium" alt="" />
                                    </div>
                                </div>
                            </div>
                            <div class="icon-box-text last-reset">

                                <h3 style="text-align: left;"><strong><a href="giai-phap/chung-cu-thong-minh/index.html"><span style="color: #000000;text-decoration: underline;">Chung cư thông minh</span></a></strong></h3>
                                <p style="text-align: left;">Chuẩn hóa các tòa nhà thông thường thành các toà nhà thông minh và hiện đại</p>
                            </div>
                        </div><!-- .icon-box -->


                        <div class="gap-element" style="display:block; height:auto; padding-top:30px" class="clearfix"></div>

                        <div class="icon-box featured-box icon-box-left text-left">
                            <div class="icon-box-img" style="width: 60px">
                                <div class="icon">
                                    <div class="icon-inner">
                                        <img width="61" height="61" src="https://linkgoservices.vn/wp-content/uploads/2018/06/icon-city-smart.png" class="attachment-medium size-medium" alt="" />
                                    </div>
                                </div>
                            </div>
                            <div class="icon-box-text last-reset">

                                <h3 style="text-align: left;"><strong><a href="giai-phap/thanh-pho-thong-minh/index.html"><span style="color: #000000;text-decoration: underline;">Thành phố thông minh</span></a></strong></h3>
                                <p style="text-align: left;">Thành phố thông minh với các giải pháp về wifi miễn phí, giám sát an ninh, cảm biến phòng cháy nổ</p>
                            </div>
                        </div><!-- .icon-box -->


                        <div class="gap-element" style="display:block; height:auto; padding-top:30px" class="clearfix"></div>

                        <div class="icon-box featured-box icon-box-left text-left">
                            <div class="icon-box-img" style="width: 65px">
                                <div class="icon">
                                    <div class="icon-inner">
                                        <img width="250" height="250" src="https://linkgoservices.vn/wp-content/uploads/2019/06/network-telecom-icon.png" class="attachment-medium size-medium" alt="" srcset="https://linkgoservices.vn/wp-content/uploads/2019/06/network-telecom-icon.png 250w, https://linkgoservices.vn/wp-content/uploads/2019/06/network-telecom-icon-150x150.png 150w, https://linkgoservices.vn/wp-content/uploads/2019/06/network-telecom-icon-100x100.png 100w" sizes="(max-width: 250px) 100vw, 250px" />
                                    </div>
                                </div>
                            </div>
                            <div class="icon-box-text last-reset">

                                <h3><a href="giai-phap/system-integration-services/index.html"><span style="text-decoration: underline;"><strong>System integration services</strong></span></a></h3>
                                <p>Experience in Telecommunication network, Linkgo has achieved successes on providing solutions and product implementation to many customers</p>
                            </div>
                        </div><!-- .icon-box -->


                    </div>
                </div>

                <style scope="scope"></style>
            </div>
        </div><!-- .section-content -->


        <style scope="scope">
            #section_666423281 {
                padding-top: 50px;
                padding-bottom: 50px;
                background-color: #eeefef
            }
        </style>
    </section>

    <section class="section custom-project custom-section-title-center" id="section_2067699312">
        <div class="bg section-bg fill bg-fill  bg-loaded">





        </div><!-- .section-bg -->

        <div class="section-content relative">
            <partial name="_WidgetInstances" model="Model.WidgetInstances.Where(x => x.WidgetZoneId == WidgetZoneIds.HomeMainContent)" />
        </div><!-- .section-content -->


        <style scope="scope">
            #section_2067699312 {
                padding-top: 50px;
                padding-bottom: 50px
            }
        </style>
    </section>

    <section class="section custom-section-title-normal" id="section_725952516">
        <div class="bg section-bg fill bg-fill  bg-loaded">





        </div><!-- .section-bg -->

        <div class="section-content relative">

            <div class="row row-large align-equal" id="row-1459255686">
                <div class="col custom-contact-title-home medium-4 small-12 large-4">
                    <div class="col-inner">
                        <div class="container section-title-container"><h3 class="section-title section-title-normal"><b></b><span class="section-title-main" style="color:rgb(255, 255, 255);">Liên hệ</span><b></b><a href="https://linkgoservices.vn/lien-he" target=""><i class="icon-angle-right"></i></a></h3></div><!-- .section-title -->
                        <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_228305450">
                            <div class="img-inner dark">
                                <img width="333" height="351" src="https://linkgoservices.vn/wp-content/uploads/2018/06/banner-home-3.png" class="attachment-large size-large" alt="" srcset="https://linkgoservices.vn/wp-content/uploads/2018/06/banner-home-3.png 333w, https://linkgoservices.vn/wp-content/uploads/2018/06/banner-home-3-285x300.png 285w" sizes="(max-width: 333px) 100vw, 333px" />
                            </div>

                            <style scope="scope">
                                #image_228305450 {
                                    width: 100%
                                }
                            </style>
                        </div>

                    </div>
                </div>
                <div class="col medium-8 small-12 large-8">
                    <div class="col-inner" style="padding:15px 0px 0px 0px;">
                        <div role="form" class="wpcf7" id="wpcf7-f8-p10-o1" lang="vi" dir="ltr">
                            <div class="screen-reader-response"></div>
                            <form action="https://linkgoservices.vn/#wpcf7-f8-p10-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                <div style="display: none;">
                                    <input type="hidden" name="_wpcf7" value="8" />
                                    <input type="hidden" name="_wpcf7_version" value="5.0.3" />
                                    <input type="hidden" name="_wpcf7_locale" value="vi" />
                                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f8-p10-o1" />
                                    <input type="hidden" name="_wpcf7_container_post" value="10" />
                                </div>
                                <div id="responsive-form" class="clearfix">
                                    <p><span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Họ và Tên" /></span></p>
                                    <div class="form-row">
                                        <p><span class="wpcf7-form-control-wrap your-phone"><input type="tel" name="your-phone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel form-phone" id="form-phone" aria-required="true" aria-invalid="false" placeholder="Điện thoại" /></span></p>
                                        <p class="pull-right"><span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email" /></span></p>
                                    </div>
                                    <p><span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Nội dung"></textarea></span></p>
                                    <p>
                                        <input type="submit" value="Gởi tin" class="wpcf7-form-control wpcf7-submit" />
                                    </p>
                                </div>
                                <div class="wpcf7-response-output wpcf7-display-none"></div>
                            </form>
                        </div>
                    </div>
                </div>

                <style scope="scope"></style>
            </div>
        </div><!-- .section-content -->


        <style scope="scope">
            #section_725952516 {
                padding-top: 30px;
                padding-bottom: 30px;
                background-color: #35adee
            }
        </style>
    </section>

    <section class="section custom-section-title-center" id="section_988342028">
        <div class="bg section-bg fill bg-fill  bg-loaded">





        </div><!-- .section-bg -->

        <div class="section-content relative">

            <div class="row row-collapse" id="row-662868280">
                <div class="col small-12 large-12">
                    <div class="col-inner">
                        <div class="row row-large align-bottom" id="row-295301898">
                            <div class="col medium-6 small-12 large-6">
                                <div class="col-inner">
                                    <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_736765066">
                                        <div class="img-inner dark">
                                            <img width="578" height="350" src="https://linkgoservices.vn/wp-content/uploads/2018/07/tuyen-dung-home.png" class="attachment-large size-large" alt="" srcset="https://linkgoservices.vn/wp-content/uploads/2018/07/tuyen-dung-home.png 578w, https://linkgoservices.vn/wp-content/uploads/2018/07/tuyen-dung-home-300x182.png 300w" sizes="(max-width: 578px) 100vw, 578px" />
                                        </div>

                                        <style scope="scope">
                                            #image_736765066 {
                                                width: 100%
                                            }
                                        </style>
                                    </div>

                                </div>
                            </div>
                            <div class="col custom-section-title-normal medium-6 small-12 large-6">
                                <div class="col-inner">
                                    <div class="container section-title-container"><h3 class="section-title section-title-normal"><b></b><span class="section-title-main">Tuyển dụng</span><b></b><a href="https://linkgoservices.vn/gioi-thieu" target=""><i class="icon-angle-right"></i></a></h3></div><!-- .section-title -->
                                    <p style="text-align: justify;">Công ty LINKGO cần tìm 01 nhân sự mới cho vị trí Service Engineer làm việc tại Văn phòng Công ty LINKGO &#8211; tại Hà Nội.</p>
                                    <p style="text-align: justify;">Hạn nộp hồ sơ: <strong>15/5/2018</strong></p>
                                    <a href="https://linkgoservices.vn/tuyen-dung" target="_self" class="button primary lowercase button-more-home">
                                        <span>Vị trí tuyển dụng</span>
                                    </a>

                                </div>
                            </div>

                            <style scope="scope"></style>
                        </div>
                    </div>
                </div>

                <style scope="scope"></style>
            </div>
        </div><!-- .section-content -->


        <style scope="scope">
            #section_988342028 {
                padding-top: 50px;
                padding-bottom: 50px
            }
        </style>
    </section>



</div>
