@model SimplCommerce.Module.Cms.Areas.Cms.ViewModels.CarouselWidgetViewComponentVm
@*  <div class="banner-area heading-exchange text-dark">
        <div id="bootcarousel" class="carousel inc-top-heading slide carousel-fade animate_text" data-ride="carousel">
            <div class="carousel-inner carousel-zoom">
                @foreach (var item in Model.Items)
                {
                    var isActive = item.Image == Model.Items.FirstOrDefault().Image;
                    <div class="item @(isActive?"active":"")">
                        <div class="slider-thumb bg-cover" style="background-image: url(@item.Image);"></div>
                        <div class="box-table">
                            <div class="box-cell">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="content">
                                                <h1 data-animation="animated fadeInUp">JA <span>Brows</span></h1>
                                                <h2 data-animation="animated fadeInDown">@item.SubCaption</h2>
                                                <a data-animation="animated slideInUp" class="btn btn-theme effect btn-md" href="@item.TargetUrl">Chi tiết</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <a class="left carousel-control" href="#bootcarousel" data-slide="prev">
                <i class="fa fa-angle-left"></i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#bootcarousel" data-slide="next">
                <i class="fa fa-angle-right"></i>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>*@

<div class="block">
    <div class="featured-block">
        <div class="article-content">
            <h2><a href="#">An sint epicuri vel nibh assentior te eam ea vim civibus tacimates</a><a href="##comments" class="h-comment">43</a></h2>
            <span class="meta">
                <a href="blog.html"><span class="icon-text">&#128340; </span>11:20, 7.Oct 2013</a>
            </span>
        </div>
        <div class="article-photo">
            <a href="#" class="hover-effect"><img src="~/themes/Tourims/images/01.jpg" alt="" /></a>
        </div>
    </div>
</div>
