

@model SimplCommerce.Module.Core.Areas.Core.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
@*<partial name="_WidgetInstances" model="Model.WidgetInstances.Where(x => x.WidgetZoneId == WidgetZoneIds.HomeFeatured)" />
    <partial name="_WidgetInstances" model="Model.WidgetInstances.Where(x => x.WidgetZoneId == WidgetZoneIds.HomeMainContent)" />*@
<div class=rst-banner style="background-image: url('~/themes/TuanNguyenStudio/images/uploads/2019/03/bg_banner-min.jpg')">
    <div class=container>
        <div class="rst-inner-banner text-center" itemscope itemtype=http://schema.org/photography>
            <h1 itemprop="name">
                Image Editing Solutions for <br>
                E-commerce and Photography Studios
            </h1><p itemprop=description>Ephotovn brings unprecedented speed, control, and quality to image post-production.</p>
            <a itemprop=trial class=rst-scroll-trial href=#>Get started today for free</a><div class=rst-img-banner>
                <img class=rst-img-main src=~/themes/TuanNguyenStudio/images/uploads/2019/03/img_banner1-min.png alt="Image Editing Services">
                <img class=rst-img-position src=~/themes/TuanNguyenStudio/images/uploads/2019/03/img_banner2-min.png alt="Image Editing Services">
            </div>
        </div>
    </div>
</div><div class=rst-we-work>
    <div class=container>
        <div class="rst-heading text-center"><h3 class="rst-title-box">How we work</h3></div><div class=rst-working-process>
            <div class="rst-box-process text-center">
                <img src=~/themes/TuanNguyenStudio/images/uploads/2019/02/work1.png alt><p>1. Submit your test images and get in touch with us for the price quotation. We will get back to you without delay.</p>
            </div><div class="rst-box-process text-center">
                <img src=~/themes/TuanNguyenStudio/images/uploads/2019/02/work2.png alt><p>2. Send us confirmation once you have the test images and price quote of the photo editing services you need from our team.</p>
            </div><div class="rst-box-process text-center">
                <img src=~/themes/TuanNguyenStudio/images/uploads/2019/02/work3.png alt><p>3. Upload your photos for editing and continue on growing your business as we work on your images.</p>
            </div><div class="rst-box-process text-center">
                <img src=~/themes/TuanNguyenStudio/images/uploads/2019/02/work4.png alt><p>4. Get the photo orders back within 24 hours and begin using them right away to start gaining profits.</p>
            </div><div class=clear></div>
        </div>
    </div>
</div>
<section class="rst-about rst-services">
    <div class=container>
        <div class="row rst_clearfix" itemscope itemtype=http://schema.org/service>
            <div class="rst-box-service rst_clearfix">
                <h3 itemprop="name">Our Services</h3><p itemprop=description>
                    We can guarantee you impressive results when it comes to any photo editing services for your e-Commerce needs. Our team consists of very skilled photo retouchers who work on the dot to achieve high quality images that you can use anytime. Do you need help in editing your photos? From background removal, <a href=clipping-path-service/index.html class=link-txt>clipping path services</a>, image editing services, image masking services and photo retouching, we can do it for you. We are only a message away and our team in Ephotovn is excited to become your partners in growing your business.
                </p>
            </div><div class="rst-box-service rst_clearfix">
                <div class=rst-img-service>
                    <img src=~/themes/TuanNguyenStudio/images/uploads/2019/03/service_01-min.png alt="E-commerce Retouching">
                </div><div class=rst-detail-service>
                    <h3>E-commerce Retouching</h3><p>
                        Running an e-Commerce business requires an in depth understanding of what your customers want. With so much information they see online each second, retailers have to ensure their products stand out among others when the end-users browse through them. That is where <a href=e-commerce-photo-editing-services/index.html class=link-txt>photo editing services</a> become necessary. In Ephotovn, we help you achieve high quality images of your products to make them appealing to customers all over the world.
                    </p>
                    <a href=e-commerce-photo-editing-services/index.html class=rst-more>read more</a>
                </div>
            </div><div class="rst-box-service rst_clearfix">
                <div class=rst-img-service>
                    <img src=~/themes/TuanNguyenStudio/images/uploads/2019/03/service_02-min.jpg alt="Background Removal">
                </div><div class=rst-detail-service>
                    <h3>Background Removal</h3><p>
                        Our <a href=background-removal/index.html class=link-txt>background removal services</a> will give you superb quality images with very minimal costs at a quick completion time. We have team members capable of removing backgrounds on thousands of photos every day. You can then use the final images for any format you prefer or simply transfer it to a white backdrop for a clean look.
                    </p>
                    <a href=background-removal/index.html class=rst-more>read more</a>
                </div>
            </div><div class="rst-box-service rst_clearfix">
                <div class=rst-img-service>
                    <img src=~/themes/TuanNguyenStudio/images/uploads/2019/03/service_03-min.png alt="Photo Retouching">
                </div><div class=rst-detail-service>
                    <h3>Photo Retouching</h3><p>
                        Our <a href=photo-retouching/index.html class=link-txt>photo retouching</a> services are perfect for professional photographers who want to spare more time or for newbies who are not so skilled yet want a professional touch for their images. Photo retouching can be applied in a wide range of shots like high-end jewelry photography, newborn, and portrait pictorials.
                    </p>
                    <a href=photo-retouching/index.html class=rst-more>read more</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id=free-trail class=rst-section1>
    <div class=rst-wrapper-content>
        <div class=container>
            <div class=rst-left><p>Get 1 photo editing service for Free</p><h2>Free Trial NOW</h2><h4>Have your image back within <span>24</span> hours</h4></div><div class=rst-right>
                <div id=rst-no-popup-trail>
                    <div id=data-3>
                        <div class=info-data>
                            <form id=trail-upload action=https://ephotovn.com/upload.php method=post name=contact-form>
                                <div class=rst-content-data>
                                    <div class=rst-upload>
                                        <button class=trail-upload-btn type=button>
                                            <img src=wp-content/themes/rephoto/site-assets/assets/images/icon_upload.png alt="Upload Your Images">Upload Your Images
                                        </button>
                                        <input type=file name=images style="display: none" required><ul class=trail-list-upload></ul><div class=clearfix></div>
                                    </div><h5>Formats</h5><div class=type-images>
                                        <p>
                                            <input type=radio name=type-img value=jpg id=radio-3 checked><label for=radio-3>JPG</label>
                                        </p><p>
                                            <input type=radio name=type-img value=png id=radio-4><label for=radio-4>PNG</label>
                                        </p><p>
                                            <input type=radio name=type-img value=psd id=radio-5><label for=radio-5>PSD</label>
                                        </p><p>
                                            <input type=radio name=type-img value=tiff id=radio-6><label for=radio-6>TIFF</label>
                                        </p>
                                    </div><h5>Services</h5><p>
                                        <select class=rst-select-service name=background required>
                                            <option>
                                                Choose a service*
                                            </option>
                                            <option value="Portrait Retouching">
                                                Portrait Retouching
                                            </option>
                                            <option value="Model Retouching">
                                                Model Retouching
                                            </option>
                                            <option value="High-end Retouching">
                                                High-end Retouching
                                            </option>
                                            <option value="Jewelry Retouching">
                                                Jewelry Retouching
                                            </option>
                                            <option value="Newborn Retouching">
                                                Newborn Retouching
                                            </option>
                                            <option value="Background Removal">
                                                Background Removal
                                            </option>
                                            <option value="Ecommerce Retouchin">
                                                Ecommerce Retouching
                                            </option>
                                        </select>
                                    </p><div class=contact-form>
                                        <p><textarea name=decreptiont id cols=30 rows=4 placeholder="Please Enter Notes / Project Brief"></textarea></p><p>
                                            <input required type=text name=user-name placeholder="Your Name*">
                                        </p><p>
                                            <input required type=email name=user-email placeholder="Email Address*">
                                        </p><p class=btn-send>
                                            <input type=submit value=Send>
                                            <img class=img-tay src=wp-content/themes/rephoto/images/tay.png alt=Control>
                                            <img class=img-loading src=wp-content/themes/rephoto/images/loader.gif alt=Loading>
                                        </p>
                                    </div>
                                </div><div class=clear></div>
                            </form><div class=text-thanks>
                                <h3>Upload Successful</h3>
                                Your images are sent successfully, you'll receive them within 24 hours.<br>
                                Please contact us for any question<br>
                                Thank for your order!<div class=text-thanks-before></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class=clearfix></div>
        </div>
    </div>
</section><div class=rst-wrapper-content>
    <section class=rst-section2>
        <div class=rst-inner-section2>
            <div class=container>
                <div class=rst-left>
                    <img src=~/themes/TuanNguyenStudio/images/uploads/2019/03/img_why_need-1-min.jpg alt="Background Removal, Clipping Path, Retouch Image">
                </div><div class=rst-right>
                    <div class=rst-header><h2>WHY YOU NEED <br>OUR SERVICE?</h2><div><span>We are experienced photo editors.</span><p>Professional photo editing services for photographers and photography studios around the globe.</p></div></div><div class=rst-content-why-you-need><ol><li><strong>Highly Effective!</strong> Working with us is as easy as 1,2,3. Just upload a test image, ask for our price quote and we will get back to you quickly. Upon agreeing to our price and services terms, you can enjoy your day and we will forward the post processed images within 24 hours. Hassle free transaction and less work for you.</li><li><strong>Good Value for money!</strong> We offer a wide array of photo editing services for very affordable prices. By working with us, business owners can now focus on other important activities for their companies.</li><li><strong>Time is gold!</strong> You can have your quality photos ready to be used in a short period of time. Our clients are our priorities so we want to deliver the soonest time possible.</li><li><strong>Satisfaction and quality guaranteed!</strong> We take pride in the work that we do and we want our customers to be more than satisfied with the services that we deliver.</li></ol></div>
                </div><div class=clearfix></div>
            </div>
        </div>
    </section>
</div>
<section class=rst-section3>
    <div class=container>
        <div class="rst-list-dt text-center">
            <div class=rst-item-client>
                <a href=# target=_blank>
                    <img src=~/themes/TuanNguyenStudio/images/uploads/2019/01/client1.jpg alt>
                </a>
                </a>
            </div><div class=rst-item-client>
                <a href=# target=_blank>
                    <img src=~/themes/TuanNguyenStudio/images/uploads/2019/01/client5.jpg alt>
                </a>
                </a>
            </div><div class=rst-item-client>
                <a href=# target=_blank>
                    <img src=~/themes/TuanNguyenStudio/images/uploads/2019/01/client4.jpg alt>
                </a>
                </a>
            </div><div class=rst-item-client>
                <a href=# target=_blank>
                    <img src=~/themes/TuanNguyenStudio/images/uploads/2019/01/client3.jpg alt>
                </a>
                </a>
            </div><div class=rst-item-client>
                <a href=# target=_blank>
                    <img src=~/themes/TuanNguyenStudio/images/uploads/2019/01/client2.jpg alt>
                </a>
                </a>
            </div><div class=clearfix></div>
        </div>
    </div>
</section>
<section class=rst-section4>
    <div class=container>
        <div class=rst-header><h2>What Our Users Say About Us</h2><p>Don’t listen too much, try to experience our products</p></div><div class=rst-body-section4>
            <div class=rst-list>
                <div class=rst-item>
                    <div class=rst-avata>
                        <img width=81 height=81 src=~/themes/TuanNguyenStudio/images/uploads/2019/01/Elio-Carchidi-Fotografo-154-studio-min.jpg class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt srcset="https://ephotovn.com/~/themes/TuanNguyenStudio/images/uploads/2019/01/Elio-Carchidi-Fotografo-154-studio-min.jpg 81w, https://ephotovn.com/~/themes/TuanNguyenStudio/images/uploads/2019/01/Elio-Carchidi-Fotografo-154-studio-min-70x70.jpg 70w" sizes="(max-width: 81px) 100vw, 81px">
                    </div>
                </div><div class=rst-item>
                    <div class=rst-avata>
                        <img width=81 height=81 src=~/themes/TuanNguyenStudio/images/uploads/2019/01/Gemma-Bringloe-Cult-Beauty-min.jpg class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt srcset="https://ephotovn.com/~/themes/TuanNguyenStudio/images/uploads/2019/01/Gemma-Bringloe-Cult-Beauty-min.jpg 81w, https://ephotovn.com/~/themes/TuanNguyenStudio/images/uploads/2019/01/Gemma-Bringloe-Cult-Beauty-min-70x70.jpg 70w" sizes="(max-width: 81px) 100vw, 81px">
                    </div>
                </div><div class=rst-item>
                    <div class=rst-avata>
                        <img width=81 height=81 src=~/themes/TuanNguyenStudio/images/uploads/2019/01/RqF12A8R-min.jpg class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt srcset="https://ephotovn.com/~/themes/TuanNguyenStudio/images/uploads/2019/01/RqF12A8R-min.jpg 81w, https://ephotovn.com/~/themes/TuanNguyenStudio/images/uploads/2019/01/RqF12A8R-min-70x70.jpg 70w" sizes="(max-width: 81px) 100vw, 81px">
                    </div>
                </div><div class=rst-item>
                    <div class=rst-avata>
                        <img width=81 height=81 src=~/themes/TuanNguyenStudio/images/uploads/2019/01/Sunny-Saperstein-FAB-studio-min.jpg class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt srcset="https://ephotovn.com/~/themes/TuanNguyenStudio/images/uploads/2019/01/Sunny-Saperstein-FAB-studio-min.jpg 81w, https://ephotovn.com/~/themes/TuanNguyenStudio/images/uploads/2019/01/Sunny-Saperstein-FAB-studio-min-70x70.jpg 70w" sizes="(max-width: 81px) 100vw, 81px">
                    </div>
                </div><div class=rst-item>
                    <div class=rst-avata>
                        <img width=81 height=81 src=~/themes/TuanNguyenStudio/images/uploads/2019/01/Lauren-Nieves-A-Little-Photo-Studio-min.jpg class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt srcset="https://ephotovn.com/~/themes/TuanNguyenStudio/images/uploads/2019/01/Lauren-Nieves-A-Little-Photo-Studio-min.jpg 81w, https://ephotovn.com/~/themes/TuanNguyenStudio/images/uploads/2019/01/Lauren-Nieves-A-Little-Photo-Studio-min-70x70.jpg 70w" sizes="(max-width: 81px) 100vw, 81px">
                    </div>
                </div><div class=rst-item>
                    <div class=rst-avata>
                        <img width=81 height=81 src=~/themes/TuanNguyenStudio/images/uploads/2019/01/0-6-min.jpg class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt srcset="https://ephotovn.com/~/themes/TuanNguyenStudio/images/uploads/2019/01/0-6-min.jpg 81w, https://ephotovn.com/~/themes/TuanNguyenStudio/images/uploads/2019/01/0-6-min-70x70.jpg 70w" sizes="(max-width: 81px) 100vw, 81px">
                    </div>
                </div>
            </div><div class=rst-new>
                <div class=rst-dev>
                    <div class=rst-info><h6>Elio Carchidi Fotografo</h6><p>Studio154</p></div><p>
                        I am so happy that we discovered Ephotovn. They have been a big help. Whenever we have need for editing services, they are always there to assist
                    </p>
                </div><div class=rst-dev>
                    <div class=rst-info><h6>Gemma Bringloe</h6><p>Cult Beauty</p></div><p>
                        We were approached by Angie who is a post-production specialist at Ephotovn. She offered to do a test for us and the result came out amazing. We have become their loyal customer since then
                    </p>
                </div><div class=rst-dev>
                    <div class=rst-info><h6>Mat Coe</h6><p>Photographer at R&W</p></div><p>
                        I was very impressed with Ephotovn’s quality and fast service. They are quick to respond and deliver perfect quality of work. I will use them from now on.
                    </p>
                </div><div class=rst-dev>
                    <div class=rst-info><h6>Nia Lee</h6><p>Photographer</p></div><p>
                        Working with Ephotovn is fantastic. They have consistently delivered high quality work within time frames. They have often proactively made suggestions above and beyond what was initially requested to make sure the end results sre eaxacly what I am looking for. To be honest, we couldn’t ask for a better partner when it comes to our ecommerce photo editing needs.
                    </p>
                </div><div class=rst-dev>
                    <div class=rst-info><h6>Lauren Nieves</h6><p>A Little Photo Studio</p></div><p>
                        Ephotovn helps us with our post-production so we have more time behind the cameras instead of the computer screens. We are able to provide our clients’ photos faster and grow our business
                    </p>
                </div><div class=rst-dev>
                    <div class=rst-info><h6>Manuela Braun</h6><p>Photographer at Dress for Less</p></div><p>
                        "I am so happy that we discovered Ephotovn. They have been a big help for our company. Whenever we need help with editing, they are always there to take care of it."
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
