@model IEnumerable<SimplCommerce.Module.News.Areas.News.ViewModels.NewsItemVm>

<div class="panel-tid service-website">
    <!--<div class="tuyet">code noel</div>-->

    <div class="panel-black">
        <div class="container">
            <div class="title">Dịch vụ &amp; phụ tùng</div>
        </div>
    </div>
    <div class="panel-body">
        <div class="container ">
            <div class="row product-scroll">
                @foreach (var newItem in Model)
                {
                    <div class="col-lg-3 col-md-3 col-sm-6 ol-xs-6 animated" data-animation="bounceInRight">
                        <a href="dat-lich-hen-truoc-de-duoc-uu-dai.html" title="@newItem.Name">
                            <img src="@newItem.ThumbnailImageUrl" alt="@newItem.Name" class="width-100" />
                            <span class="title-service">@newItem.Name</span>
                        </a>
                    </div>
                }

                @*<div class="col-lg-3 col-md-3 col-sm-6 ol-xs-6 animated" data-animation="bounceInLeft">
            <a href="dich-vu-sua-chua-bao-tri-xe.html" title="DỊCH VỤ SỬA CHỮA BẢO TRÌ XE">
                <img src="/themes/Honda/public/uploads/images/thumbs/Web-baoduong.jpg" alt="DỊCH VỤ SỬA CHỮA BẢO TRÌ XE" class="width-100" />
                <span class="title-service">DỊCH VỤ SỬA CHỮA BẢO TRÌ XE</span>
            </a>
        </div>*@
            </div>
        </div>
    </div>
</div>
