<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @RenderSection("additionalMeta", false)
    <meta name="robots" content="noindex">
    <link rel="profile" href="https://gmpg.org/xfn/11" />
    <title>COLORMAG &#8211; Best Magazine WordPress theme for 2018</title>
    <link href="~/themes/TramHuongKyNam/css/style.css" rel="stylesheet" />
    <link rel='dns-prefetch' href='http://s0.wp.com/' />
    <link rel='dns-prefetch' href='http://secure.gravatar.com/' />
    <link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
    <link rel="alternate" type="application/rss+xml" title="COLORMAG &raquo; Feed" href="feed/index.html" />
    <style type="text/css">
        img.wp-smiley, img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important
        }
    </style>
    <link rel='stylesheet' id='colormag_google_fonts-css' href='http://fonts.googleapis.com/css?family=Open+Sans%3A400%2C600&amp;ver=baf6f0eb6a147d837c97dd6439c862d9' type='text/css' media='all' />
    <script type='text/javascript'>/* <![CDATA[ */ var ctNocache = {"ajaxurl":"https:\/\/demo.themegrill.com\/colormag\/wp-admin\/admin-ajax.php","info_flag":"","set_cookies_flag":"","blog_home":"https:\/\/demo.themegrill.com\/colormag\/"}; /* ]]> */</script> <!--[if lte IE 8]> <script type='text/javascript' src='https://demo.themegrill.com/colormag/wp-content/themes/colormag/js/html5shiv.min.js?ver=baf6f0eb6a147d837c97dd6439c862d9'></script> <![endif]-->
    <link rel='https://api.w.org/' href='wp-json/index.html' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="wp-includes/wlwmanifest.xml" />
    <link rel='shortlink' href='https://wp.me/5SZe3' />
    <link rel='dns-prefetch' href='http://v0.wordpress.com/' />
    <style type='text/css'>
        img#wpstats {
            display: none
        }
    </style>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="COLORMAG" />
    <meta property="og:description" content="Best Magazine WordPress theme for 2018" />
    <meta property="og:url" content="https://demo.themegrill.com/colormag/" />
    <meta property="og:site_name" content="COLORMAG" />
    <meta property="og:image" content="https://s0.wp.com/i/blank.jpg" />
    <meta property="og:locale" content="en_US" />
    @RenderSection("head", required: false)
</head>
<body data-rsssl=1 class="home blog wp-custom-logo everest-forms-no-js ">
    <div id="page" class="hfeed site">
        <header id="masthead" class="site-header clearfix ">
            <div id="header-text-nav-container" class="clearfix">
                <div class="news-bar">
                    <div class="inner-wrap clearfix">
                        <div class="date-in-header"> Saturday, April 6, 2019</div>
                        <div class="breaking-news">
                            <strong class="breaking-news-latest">Latest:</strong>
                            <ul class="newsticker">
                                <li>
                                    <a href="2015/03/24/teens-use-apps-to-keep-secrets/index.html"
                                       title="Teens use apps to keep secrets?">Teens use apps to keep secrets?</a>
                                </li>
                                <li>
                                    <a href="2015/03/24/fastest-plane-in-the-world/index.html"
                                       title="Fastest plane in the world">Fastest plane in the world</a>
                                </li>
                                <li>
                                    <a href="2015/03/24/wireless-headphones-are-now-on-market/index.html"
                                       title="Wireless Headphones are now on Market">Wireless Headphones are now on Market</a>
                                </li>
                                <li>
                                    <a href="2015/03/24/drones-being-used-to-monitor-wordcup/index.html"
                                       title="Drones being used to monitor WordCup">Drones being used to monitor WordCup</a>
                                </li>
                                <li>
                                    <a href="2015/03/24/coffee-is-health-food-myth-or-fact/index.html"
                                       title="Coffee is health food: Myth or fact?">Coffee is health food: Myth or fact?</a>
                                </li>
                            </ul>
                        </div>
                        <div class="social-links clearfix">
                            <ul>
                                <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="inner-wrap">
                    <div id="header-text-nav-wrap" class="clearfix">
                        <div id="header-left-section">
                            <div id="header-logo-image"> <a href="index.html" class="custom-logo-link" rel="home" itemprop="url"><img width="265" height="90" src="~/themes/TramHuongKyNam/images/wp-content/uploads/sites/20/2015/03/logo.png" class="custom-logo" alt="COLORMAG" itemprop="logo" /></a></div>
                            <div id="header-text" class="screen-reader-text">
                                <h1 id="site-title"> <a href="index.html" title="COLORMAG" rel="home">COLORMAG</a></h1>
                                <p id="site-description">Best Magazine WordPress theme for 2018</p>
                            </div>
                        </div>
                        <div id="header-right-section">
                            <div id="header-right-sidebar" class="clearfix">
                                <aside id="colormag_728x90_advertisement_widget-9" class="widget widget_728x90_advertisement clearfix">
                                    <div class="advertisement_728x90">
                                        <div class="advertisement-content"><a href="https://demo.themegrill.com/colormag-pro/" class="single_ad_728x90" target="_blank" rel="nofollow"> <img src="~/themes/TramHuongKyNam/images/wp-content/uploads/sites/20/2015/07/ad-color-mag-large.jpg" width="728" height="90" alt=""> </a></div>
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                </div>
                <nav id="site-navigation" class="main-navigation clearfix" role="navigation">
                    <div class="inner-wrap clearfix">
                        <div class="home-icon front_page_on"> <a href="index.html" title="COLORMAG"><i class="fa fa-home"></i></a></div>
                        <p class="menu-toggle"></p>
                        <div class="menu-primary-container">
                            <ul id="menu-primary" class="menu">
                                <li id="menu-item-221" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-221">
                                    <a title="Download This Theme" href="https://downloads.wordpress.org/theme/colormag.zip">Download</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-236" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-236"><a title="More info on ColorMag theme" target="_blank" href="http://themegrill.com/themes/colormag/">Theme Info</a></li>
                                        <li id="menu-item-200" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-200"><a href="http://themegrill.com/themes/colormag-pro/">View Pro</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-175" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-175"><a href="category/sports/index.html">Sports</a></li>
                                <li id="menu-item-32" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-32"><a href="category/politics/index.html">Politics</a></li>
                                <li id="menu-item-176" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-176"><a href="category/technology/index.html">Technology</a></li>
                                <li id="menu-item-177" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-177"><a href="category/fashion/index.html">Fashion</a></li>
                                <li id="menu-item-178" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-178"><a href="category/health/index.html">Health</a></li>
                                <li id="menu-item-192" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-192">
                                    <a href="#">Layout</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-196" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-196"><a href="left-sidebar/index.html">Left Sidebar</a></li>
                                        <li id="menu-item-195" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-195"><a href="right-sidebar/index.html">Right Sidebar</a></li>
                                        <li id="menu-item-194" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-194"><a href="no-sidebar-full-width/index.html">No Sidebar Full Width</a></li>
                                        <li id="menu-item-193" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-193"><a href="no-sidebar-content-centered/index.html">No Sidebar Content Centered</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-298" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-298"><a href="contact-us/index.html">Contact</a></li>
                            </ul>
                        </div>
                        <div class="random-post">
                            <a href="2015/03/20/a-paradise-for-holiday/index.html" title="View a random post">
                                <i class="fa fa-random"></i>
                            </a>
                        </div>
                        <i class="fa fa-search search-top"></i>
                        <div class="search-form-top">
                            <form action="https://demo.themegrill.com/colormag/" class="search-form searchform clearfix" method="get">
                                <div class="search-wrap"> <input type="text" placeholder="Search" class="s field" name="s"> <button class="search-icon" type="submit"></button></div>
                            </form>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <div id="main" class="clearfix">
            <div class="inner-wrap clearfix">
                @RenderBody()
            </div>
        </div>
        <footer id="colophon" class="clearfix ">
            <div class="footer-widgets-wrapper">
                <div class="inner-wrap">
                    <div class="footer-widgets-area clearfix">
                        <div class="tg-footer-main-widget">
                            <div class="tg-first-footer-widget">
                                <aside id="text-3" class="widget widget_text clearfix">
                                    <h3 class="widget-title"><span>About Us</span></h3>
                                    <div class="textwidget"><a title="COLORMAG" href="index.html"><img alt="COLORMAG" src="~/themes/TramHuongKyNam/images/wp-content/uploads/sites/20/2015/03/logo.png"></a><br />We love WordPress and we are here to provide you with professional looking WordPress themes so that you can take your website one step ahead. We focus on simplicity, elegant design and clean code.</div>
                                </aside>
                            </div>
                        </div>
                        <div class="tg-footer-other-widgets">
                            <div class="tg-second-footer-widget">
                                <aside id="text-5" class="widget widget_text clearfix">
                                    <h3 class="widget-title"><span>Premium Themes</span></h3>
                                    <div class="textwidget">
                                        <ul>
                                            <li><a title="Spacious Pro" target="_blank" href="https://themegrill.com/themes/spacious/">Spacious Pro</a></li>
                                            <li><a title="Flash Pro" target="_blank" href="https://themegrill.com/themes/flash/">Flash Pro</a></li>
                                            <li><a title="Accelerate Pro" target="_blank" href="https://themegrill.com/themes/accelerate/">Accelerate Pro</a></li>
                                            <li><a title="Suffice Pro" target="_blank" href="https://themegrill.com/themes/suffice/">Suffice Pro</a></li>
                                            <li><a title="Esteem Pro" target="_blank" href="https://themegrill.com/themes/esteem/">Esteem Pro</a></li>
                                            <li><a title="eStore Pro" target="_blank" href="https://themegrill.com/themes/estore/">eStore Pro</a></li>
                                            <li><a title="Himalayas Pro" target="_blank" href="https://themegrill.com/themes/himalayas/">Himalayas Pro</a></li>
                                            <li><a title="Radiate Pro" target="_blank" href="https://themegrill.com/themes/radiate/">Radiate Pro</a></li>
                                            <li><a title="ColorNews Pro" target="_blank" href="https://themegrill.com/themes/colornews/">ColorNews Pro</a></li>
                                        </ul>
                                    </div>
                                </aside>
                            </div>
                            <div class="tg-third-footer-widget">
                                <aside id="text-4" class="widget widget_text clearfix">
                                    <h3 class="widget-title"><span>More Free Themes</span></h3>
                                    <div class="textwidget">
                                        <ul>
                                            <li><a title="Cenote" target="_blank" href="https://themegrill.com/themes/cenote/">Cenote</a></li>
                                            <li><a title="Spacious" target="_blank" href="https://themegrill.com/themes/spacious/">Spacious</a></li>
                                            <li><a title="Flash" target="_blank" href="https://themegrill.com/themes/flash/">Flash</a></li>
                                            <li><a title="Accelerate" target="_blank" href="https://themegrill.com/themes/accelerate/">Accelerate</a></li>
                                            <li><a title="Suffice" target="_blank" href="https://themegrill.com/themes/suffice/">Suffice</a></li>
                                            <li><a title="eStore" target="_blank" href="https://themegrill.com/themes/estore/">eStore</a></li>
                                            <li><a title="FitClub" target="_blank" href="https://themegrill.com/themes/fitclub/">FitClub</a></li>
                                            <li><a title="Ample" target="_blank" href="https://themegrill.com/themes/ample/">Ample</a></li>
                                            <li><a title="Esteem" target="_blank" href="https://themegrill.com/themes/esteem/">Esteem</a></li>
                                        </ul>
                                    </div>
                                </aside>
                            </div>
                            <div class="tg-fourth-footer-widget">
                                <aside id="colormag_300x250_advertisement_widget-6" class="widget widget_300x250_advertisement clearfix">
                                    <div class="advertisement_300x250">
                                        <div class="advertisement-title">
                                            <h3 class="widget-title"><span>ColorMag Pro</span></h3>
                                        </div>
                                        <div class="advertisement-content"><a href="https://demo.themegrill.com/colormag-pro/" class="single_ad_300x250" target="_blank" rel="nofollow"> <img src="~/themes/TramHuongKyNam/images/wp-content/uploads/sites/20/2015/07/ad-color-mag-medium.jpg" width="300" height="250" alt=""> </a></div>
                                    </div>
                                </aside>
                                <aside id="text-6" class="widget widget_text clearfix">
                                    <div class="textwidget">Contains all features of free version and many new additional features.</div>
                                </aside>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-socket-wrapper clearfix">
                <div class="inner-wrap">
                    <div class="footer-socket-area">
                        <div class="footer-socket-right-section">
                            <div class="social-links clearfix">
                                <ul>
                                    <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-socket-left-section">
                            <div class="copyright">Copyright &copy; 2019 <a href="index.html" title="COLORMAG"><span>COLORMAG</span></a>. All rights reserved.<br>Theme: ColorMag by <a href="https://themegrill.com/themes/colormag" target="_blank" title="ThemeGrill" rel="author"><span>ThemeGrill</span></a>. Powered by <a href="https://wordpress.org/" target="_blank" title="WordPress"><span>WordPress</span></a>.</div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <a href="#masthead" id="scroll-up"><i class="fa fa-chevron-up"></i></a>
    </div>
    <div style="display: none;">
        <div id="boxzilla-box-274-content">
            <p><a href="https://youtu.be/cXxmpNIui9Y"></a><a href="https://youtu.be/cXxmpNIui9Y" target="_blank" rel="noopener"><img class="aligncenter wp-image-279 size-full" src="~/themes/TramHuongKyNam/images/wp-content/uploads/sites/20/2017/06/one-click-demo.jpg" alt="" width="375" height="260" /></a></p>
        </div>
    </div>
    <div style="display:none"></div>
    <script type='text/javascript' src='../../s0.wp.com/wp-content/js/devicepx-jetpacka8e5.js?ver=201914'></script>
    <script type='text/javascript'>/* <![CDATA[ */ var WPGroHo = {"my_hash":""}; /* ]]> */</script>
    <script type='text/javascript'>/* <![CDATA[ */ var boxzilla_options = {"testMode":"","boxes":[{"id":274,"icon":"&times;","content":"","css":{"background_color":"#e0e0e0","color":"#2d2d2d","position":"bottom-right"},"trigger":{"method":"percentage","value":65},"animation":"fade","cookie":{"triggered":0,"dismissed":24},"rehide":true,"position":"bottom-right","screenWidthCondition":{"condition":"larger","value":1000},"closable":true,"post":{"id":274,"title":"One click demo import","slug":"one-click-demo-import"}}]}; /* ]]> */</script>
    <script type='text/javascript' src='../../stats.wp.com/e-201914.js' async='async' defer='defer'></script>
    <script type='text/javascript'>
         _stq = window._stq || [];
         	_stq.push([ 'view', {v:'ext',j:'1:7.0',blog:'86986747',post:'0',tz:'0',srv:'demo.themegrill.com'} ]);
         	_stq.push([ 'clickTrackerInit', '86986747', '0' ]);
    </script>
    <script>
         (function(w, d){
         	var b = d.getElementsByTagName("body")[0];
         	var s = d.createElement("script"); s.async = true;
         	s.src = !("IntersectionObserver" in w) ? "https://demo.themegrill.com/colormag/wp-content/plugins/wp-rocket/inc/front/js/lazyload-8.12.min.js" : "https://demo.themegrill.com/colormag/wp-content/plugins/wp-rocket/inc/front/js/lazyload-10.12.min.js";
         	w.lazyLoadOptions = {
         		elements_selector: "iframe",
         		data_src: "lazy-src",
         		data_srcset: "lazy-srcset",
         		data_sizes: "lazy-sizes",
         		skip_invisible: false,
         		class_loading: "lazyloading",
         		class_loaded: "lazyloaded",
         		threshold: 300,
         		callback_load: function(element) {
         			if ( element.tagName === "IFRAME" && element.dataset.rocketLazyload == "fitvidscompatible" ) {
         				if (element.classList.contains("lazyloaded") ) {
         					if (typeof window.jQuery != "undefined") {
         						if (jQuery.fn.fitVids) {
         							jQuery(element).parent().fitVids();
         						}
         					}
         				}
         			}
         		}
         	}; // Your options here. See "recipes" for more information about async.
         	b.appendChild(s);
         }(window, document));

         // Listen to the Initialized event
         window.addEventListener('LazyLoad::Initialized', function (e) {
             // Get the instance and puts it in the lazyLoadInstance variable
         	var lazyLoadInstance = e.detail.instance;

         	var observer = new MutationObserver(function(mutations) {
         		mutations.forEach(function(mutation) {
         			lazyLoadInstance.update();
         		} );
         	} );

         	var b      = document.getElementsByTagName("body")[0];
         	var config = { childList: true, subtree: true };

         	observer.observe(b, config);
         }, false);
    </script>
    <script src="~/themes/TramHuongKyNam/images/wp-content/cache/min/20/d335284a4a168488b43f11bad5bf5d44.js" data-minify="1"></script>
    
    @RenderSection("scripts", required: false)
</body>
<!-- Mirrored from demo.themegrill.com/colormag/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 06 Apr 2019 12:23:08 GMT -->
</html>
<!-- This website is like a Rocket, isn't it? Performance optimized by WP Rocket. Learn more: https://wp-rocket.me - Debug: cached@1554553087 -->
