
<section id="online-training" class="online-training about-us">
    <div class="border-bottom-header">About us</div>

    <div class="about-nav">
        <a href="../en/team/baltic-brows.html" class=" active-link ">Baltic Brows</a>
        <a href="../en/team.html" class="">Team</a>
    </div>
</section>
<section id="about-content">
    <div class="container-fluid">

        <div class="about-first-block">
            <div class="profile-img">
                <div class="img-wrap">
                    <div id="about-slider">
                        <!-- Wrapper for slides -->
                        <div class="item  active ">
                            <div class="about-slider-inner">
                                <img class="img-responsive" src="~/themes/Gallery/public/uploads/image-uploads/2017-08-03-165200qf9d383cxmasntms/DSC_7885-image(270x370-crop()).jpg" alt="">
                            </div>
                        </div>
                        <div class="item ">
                            <div class="about-slider-inner">
                                <img class="img-responsive" src="~/themes/Gallery/public/uploads/image-uploads/2017-08-17-152443bkdnyhadwhdar6zx/6E0172A4-image(270x370-crop()).jpg" alt="">
                            </div>
                        </div>
                        <div class="item ">
                            <div class="about-slider-inner">
                                <img class="img-responsive" src="~/themes/Gallery/public/uploads/image-uploads/2017-08-17-152431d8optfncsfz8kxik/6E9456A4-image(270x370-crop()).jpg" alt="">
                            </div>
                        </div>
                        <div class="item ">
                            <div class="about-slider-inner">
                                <img class="img-responsive" src="~/themes/Gallery/public/uploads/image-uploads/2017-08-17-152404bk3fsxv0zqn4uxc7/A%20(8)-image(270x370-crop()).jpg" alt="">
                            </div>
                        </div>
                        <div class="item ">
                            <div class="about-slider-inner">
                                <img class="img-responsive" src="~/themes/Gallery/public/uploads/image-uploads/2017-08-17-152340qve7ubxf9zt7csjt/DSC_7846-image(270x370-crop()).jpg" alt="">
                            </div>
                        </div>
                        <div class="item ">
                            <div class="about-slider-inner">
                                <img class="img-responsive" src="~/themes/Gallery/public/uploads/image-uploads/2017-08-17-1523113cx3aaolq7tyj5gj/DSC_9164-image(270x370-crop()).jpg" alt="">
                            </div>
                        </div>
                        <div class="item ">
                            <div class="about-slider-inner">
                                <img class="img-responsive" src="~/themes/Gallery/public/uploads/image-uploads/2017-08-17-152146x6bzmzoqpch0yrai/DSC_9732copy-image(270x370-crop()).jpg" alt="">
                            </div>
                        </div>
                        <div class="item ">
                            <div class="about-slider-inner">
                                <img class="img-responsive" src="~/themes/Gallery/public/uploads/image-uploads/2017-08-17-151551fa6qbxo8nufoybpi/IMG_1036%20edit-image(270x370-crop()).jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="about-text-block">
                <div class="about-header-bold">Rita Romo &amp; Baltic Brows</div>

                <div class="about-text">
                    <p>Rita Romo has a lifetime of experience in the beauty industry as a licensed cosmetologist and permanent makeup artist. In 2012 Rita gained a bachelors degree of architecture in KAUNAS UNIVERSITY OF TECHNOLOGY. For the next two years she continued her Master&rsquo;s degree while working as a beautician and permanent makeup artist. Even though these two professions seem to be polar opposites, they work well together as they are both artistic professions, involving measuring, artistic and precise design. Here art is important as every situation of treatment can be very different or even complicated. Being a natural born instructor, she dedicated herself to permanent cosmetics in 2012, and began working closely with many beauticians in Kaunas, Lithuania. In 2014 she established the Baltic Brows&reg; academy where she began teaching the art of permanent cosmetics. Rita is a leader in the industry and offers the latest techniques in permanent makeup to her students around the world. Moreover, Rita specializes in paramedical treatments with a special emphasis in breast repigmentation and scalp tricopigmentation.</p>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="two-col-text">
    <div class="container">
        <div class="col-wrap">
            <div class="col-text-1">
                <div class="about-header-light">About Baltic Brows</div>
                <div class="about-text">
                    <p>Baltic Brows&reg; is a professional permanent makeup academy based in Lithuania, Europe. We also established Baltic Brows&reg; USA which is our sister company in Atlanta, GA, USA. Because of the increased popularity of permanent makeup, we are training and doing treatments worldwide. Baltic Brows has already trained students in the folowing countries - Estonia, United Kingdom, Finland, Norway, all over USA, Canada, Mexico, Israel, Brasil, Belgium, Colombia, Dominican Republic and Puerto Rico. Each class consists of 5-15 students. Each student is required to finish an online preparation course before they attend the 3-4 days of hands on training in class. After the class there is continued support available to the students so that they can start to work as permanent makeup artists. We also offer training in smaller, semi private groups. Our academy also offers different permanent makeup master classes namely Ombre brows, eyeliner, lash enhancement, eyeshadow, 3D lips, microblading and shading combinations.</p>
                </div>
            </div>
            <div class="col-text-2">
                <div class="about-header-light">Why am I in this?</div>
                <div class="about-text">
                    <p><img src="../../www.balticbrows.com/public/images/Rita_cover.jpg" width="214" height="305" /></p>
                    <p>&ldquo;In 2012 I acquired a Master&rsquo;s degree of architecture in Kaunas University of Technology. For two years I had been working as an architect and designing exterior and interiors. Talent, challenging study and hard work nurtured the artistic soul but over time I realized that in Lithuanian economic situation, artistry falls into second place. This facilitated my move into the beauty field where the artistry and aesthetic sense are the very important. Today I specialize in permanent makeup and I am very happy to see the customers&rsquo; smiles.&rdquo;</p>
                    <p>Rita Romo unique techniques in Ombre brows and microblading were featured in a international Permanent makeup magazine, where her photo graced the cover of the magazine.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="list-block">
    <div class="container">
        <div class="education-achievements-wrap">
            <div class="education">
                <div class="education-header">
                    <div class="icon icon-student-hat"></div>
                    <div class="title">Education &amp; Experience</div>
                </div>
                <ul class="ed-list">
                    <ul class="ed-list">
                        <li>School finished with highest scores (97-100% scores of exams), RED diploma;</li>
                        <li>University Bachelors degree finished with highest scores, awarded to one of the best students in university,again RED diploma, scolarships, participated in a lot of contests;</li>
                        <li>University Masters degree finished with highest scores, again awarded to one of the best students in university and finally Masters work was announced as one of the best works of students worldwide;</li>
                        <li>A bunch of diplomas in arts, mathematics, architecture. Winner in a lot of contest of arts.</li>
                    </ul>
                </ul>
                <p><strong>Languages:&nbsp;</strong>English, Russian, Lithuanian, and a little Spanish.</p>
                <ul>
                    <li><strong>2016 &ndash; </strong>Over 500 basic and masterclass students in one year</li>
                    <li><strong>2017 &ndash;</strong>Speaker of International PMU and Microblading conference in Salt Lake City, USA</li>
                    <li><strong>2017 &ndash; </strong>BALTIC BROWS&reg; Academy opening in Atlanta, United States.</li>
                    <li><strong>2017 &ndash;</strong>Speaker of PERMANENT MAKEUP INTERNATIONAL conference in London, United Kingdom</li>
                    <li><strong>2017 &ndash;</strong>Speaker of SILAM IN CONCERT conference in Recife, Brazil</li>
                    <li><strong>2017 &ndash; </strong>Baltic Brows&reg; conference organizator in PUNTACANA (Dominican Republic)</li>
                    <li><strong>2017 &ndash; </strong>Speaker of one biggest permanent makeup conference <strong>GOLDEN NEEDLE</strong> (Russia)</li>
                    <li><strong>2017</strong> - Speaker of SKING CONGRESS (Italy)</li>
                    <li><strong>2018</strong> - Speaker of&nbsp;PMU WORLDWIDE FORUM AND CHAMPIONSHIP (Vietnam)</li>
                    <li><strong>2019</strong> - Speaker of&nbsp;FaceDesign PMU (Belgium)</li>
                </ul>
            </div>

            <div class="achievements">
                <div class="education-header">
                    <div class="icon icon-star"></div>
                    <div class="title">Baltic Brows achievements</div>
                </div>
                <ul>
                    <li><strong>Unique hands on training system</strong> &ndash; art and permanent makeup combination. As Baltic Brows&reg; Academy founder finished architecture, she decided to create trainings system combined with it. Our students start from learning arts, sketching, drawing, searching their own style, improving artistic skills, achieving perfect proportions by using architectural methods;</li>
                    <li><strong>Unique online trainings academy</strong> &ndash; a lot of video material full of explanations and animations graphics; support online;</li>
                    <li><strong>Unique Baltic Brows&reg; pigments formula</strong> &ndash; organic and inorganic mixture; sterile and safe. The healed results have no color changes when fading, and create crisp eyebrow strokes for microblading when healed. Lip colors are bright and concentrated.</li>
                    <li><strong>Hyperrealistic microblading technique</strong>&ndash; strokes pattern which is supernatural, hyperrealistic and artistic;</li>
                    <li><strong>Manual Ombre shading technique</strong> &ndash; creating soft powder effect using manual tool and special needles</li>
                    <li><strong>Ombre brows technique using permanent makeup device</strong> - creating soft powder effect</li>
                    <li><strong>Colourful Ombre/ black Ombre eyeliner</strong></li>
                    <li><strong>Unique eyebrows shaping</strong> - based on each person face anatomy</li>
                    <li><strong>Microblading and shading various combinations</strong> &ndash; strokes in the beginning + shading, as well as a bottom shadow</li>
                    <li>Special workbooks which are included into trainings system and which helps to improve student&lsquo;s skills</li>
                    <li>Baltic Brows&reg; pigments colour theory book and color guide</li>
                    <li>Improving permanent makeup products variety - customized golden ratio ruler, auoclave tool with a double side (combo microblading and shading), disposable tools</li>
                    <li>More than 500 students during 2016 year all over the world</li>
                    <li>More than 700 students during 2017 year all over the world</li>
                    <li>Unique Ombre brows technique represented in Permanent make-up magazine. Cover of the magazine and Baltic Brows&reg; Academy representation</li>
                    <li>Certification levels and even opportunity to become instructor!</li>
                </ul>

                <div class="education-header">
                    <div data-icon="*" class="icon"></div>
                    <div class="title">Works</div>
                </div>

                <div class="certificates-wrap">

                    <div class="owl-carousel" id="carousel_certificates">

                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-175409gyxnkgqpbrwiwr5j/11205145_454249271406382_4876949706281779478_n.jpg" data-webm="public/uploads/image-uploads/2017-07-27-175409gyxnkgqpbrwiwr5j/11205145_454249271406382_4876949706281779478_n.jpg" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-175409gyxnkgqpbrwiwr5j/11205145_454249271406382_4876949706281779478_n-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-175409kd2rz9rc6eopircy/11141362_473907916107184_5527154506910480115_n.jpg" data-webm="public/uploads/image-uploads/2017-07-27-175409kd2rz9rc6eopircy/11141362_473907916107184_5527154506910480115_n.jpg" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-175409kd2rz9rc6eopircy/11141362_473907916107184_5527154506910480115_n-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-175832vqqsem75mof9vqdi/14183862_10205473446070213_4549308069550437103_n.jpg" data-webm="public/uploads/image-uploads/2017-07-27-175832vqqsem75mof9vqdi/14183862_10205473446070213_4549308069550437103_n.jpg" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-175832vqqsem75mof9vqdi/14183862_10205473446070213_4549308069550437103_n-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-1758366qm4bukenow1soqj/20160213_185555-1.jpg" data-webm="public/uploads/image-uploads/2017-07-27-1758366qm4bukenow1soqj/20160213_185555-1.jpg" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-1758366qm4bukenow1soqj/20160213_185555-1-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-175851jlonerdqmbafbkmk/20160218_205727.jpg" data-webm="public/uploads/image-uploads/2017-07-27-175851jlonerdqmbafbkmk/20160218_205727.jpg" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-175851jlonerdqmbafbkmk/20160218_205727-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-175855nbika0nhwvr0bbvu/20160304_173653.jpg" data-webm="public/uploads/image-uploads/2017-07-27-175855nbika0nhwvr0bbvu/20160304_173653.jpg" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-175855nbika0nhwvr0bbvu/20160304_173653-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-1758593frv75oexfv7xhkb/20160304_233116.jpg" data-webm="public/uploads/image-uploads/2017-07-27-1758593frv75oexfv7xhkb/20160304_233116.jpg" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-1758593frv75oexfv7xhkb/20160304_233116-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-175904lbmlyo7bxtayyynu/20160503_140726.jpg" data-webm="public/uploads/image-uploads/2017-07-27-175904lbmlyo7bxtayyynu/20160503_140726.jpg" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-175904lbmlyo7bxtayyynu/20160503_140726-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-175909oxxbgyseziz6fupa/20160503_140816.jpg" data-webm="public/uploads/image-uploads/2017-07-27-175909oxxbgyseziz6fupa/20160503_140816.jpg" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-175909oxxbgyseziz6fupa/20160503_140816-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-175914jvuaawffe5n53z5c/20160503_140831.jpg" data-webm="public/uploads/image-uploads/2017-07-27-175914jvuaawffe5n53z5c/20160503_140831.jpg" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-175914jvuaawffe5n53z5c/20160503_140831-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-175918wiomb1fbxx9hzlew/20160503_140845.jpg" data-webm="public/uploads/image-uploads/2017-07-27-175918wiomb1fbxx9hzlew/20160503_140845.jpg" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-175918wiomb1fbxx9hzlew/20160503_140845-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-1759221r06gu9dilhb4feu/20160829_000738.jpg" data-webm="public/uploads/image-uploads/2017-07-27-1759221r06gu9dilhb4feu/20160829_000738.jpg" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-1759221r06gu9dilhb4feu/20160829_000738-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-175925c0b63xxisgtnsbaj/20161231_170213.jpg" data-webm="public/uploads/image-uploads/2017-07-27-175925c0b63xxisgtnsbaj/20161231_170213.jpg" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-175925c0b63xxisgtnsbaj/20161231_170213-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-1759306undy7u2anymblts/20170117_231420.jpg" data-webm="public/uploads/image-uploads/2017-07-27-1759306undy7u2anymblts/20170117_231420.jpg" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-1759306undy7u2anymblts/20170117_231420-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-175936vupbpf4sitpoergo/20170205_175523.png" data-webm="public/uploads/image-uploads/2017-07-27-175936vupbpf4sitpoergo/20170205_175523.png" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-175936vupbpf4sitpoergo/20170205_175523-image(100x100-crop()).png" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-175938jhxtpgad7yc7tsmb/20170205_180621.jpg" data-webm="public/uploads/image-uploads/2017-07-27-175938jhxtpgad7yc7tsmb/20170205_180621.jpg" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-175938jhxtpgad7yc7tsmb/20170205_180621-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-175940ezwslqvhhpw1oeuf/20170205_180644.jpg" data-webm="public/uploads/image-uploads/2017-07-27-175940ezwslqvhhpw1oeuf/20170205_180644.jpg" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-175940ezwslqvhhpw1oeuf/20170205_180644-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-175941arycf2whcbke5k7w/20170403_155838.jpg" data-webm="public/uploads/image-uploads/2017-07-27-175941arycf2whcbke5k7w/20170403_155838.jpg" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-175941arycf2whcbke5k7w/20170403_155838-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-175943qc0snrn1r3h0finq/20170403_163021.jpg" data-webm="public/uploads/image-uploads/2017-07-27-175943qc0snrn1r3h0finq/20170403_163021.jpg" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-175943qc0snrn1r3h0finq/20170403_163021-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-1759443o2punc4bz5y74b7/20170406_124403.jpg" data-webm="public/uploads/image-uploads/2017-07-27-1759443o2punc4bz5y74b7/20170406_124403.jpg" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-1759443o2punc4bz5y74b7/20170406_124403-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-175950rxrq37ea09pwjf4s/20170427_215122.png" data-webm="public/uploads/image-uploads/2017-07-27-175950rxrq37ea09pwjf4s/20170427_215122.png" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-175950rxrq37ea09pwjf4s/20170427_215122-image(100x100-crop()).png" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-175951wbtcqidjjpzelhmb/20170501_105356.jpg" data-webm="public/uploads/image-uploads/2017-07-27-175951wbtcqidjjpzelhmb/20170501_105356.jpg" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-175951wbtcqidjjpzelhmb/20170501_105356-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-175953zrb4nrfekb8ppl4b/20170501_111444.jpg" data-webm="public/uploads/image-uploads/2017-07-27-175953zrb4nrfekb8ppl4b/20170501_111444.jpg" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-175953zrb4nrfekb8ppl4b/20170501_111444-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-175955h3juvm7puztrhnu1/20170501_131507.jpg" data-webm="public/uploads/image-uploads/2017-07-27-175955h3juvm7puztrhnu1/20170501_131507.jpg" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-175955h3juvm7puztrhnu1/20170501_131507-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180001mfxgimz6xtokhw01/20170501_131635.jpg" data-webm="public/uploads/image-uploads/2017-07-27-180001mfxgimz6xtokhw01/20170501_131635.jpg" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180001mfxgimz6xtokhw01/20170501_131635-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180135ixtni5tboydskcqx/DSCI0035.jpg" data-webm="public/uploads/image-uploads/2017-07-27-180135ixtni5tboydskcqx/DSCI0035.JPG" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180135ixtni5tboydskcqx/DSCI0035-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180230e1gxgaw9lsl8hqk1/DSCI0242.jpg" data-webm="public/uploads/image-uploads/2017-07-27-180230e1gxgaw9lsl8hqk1/DSCI0242.JPG" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180230e1gxgaw9lsl8hqk1/DSCI0242-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180232ozn0gdiscfsspfim/DSCI0243.jpg" data-webm="public/uploads/image-uploads/2017-07-27-180232ozn0gdiscfsspfim/DSCI0243.JPG" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180232ozn0gdiscfsspfim/DSCI0243-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-1802352gafdozdcd9z1zvr/DSCI0245.jpg" data-webm="public/uploads/image-uploads/2017-07-27-1802352gafdozdcd9z1zvr/DSCI0245.JPG" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-1802352gafdozdcd9z1zvr/DSCI0245-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180238a0oxxzkhyv0chxc1/DSCI0246.jpg" data-webm="public/uploads/image-uploads/2017-07-27-180238a0oxxzkhyv0chxc1/DSCI0246.JPG" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180238a0oxxzkhyv0chxc1/DSCI0246-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180240rhd2a8gu7resnf8w/DSCI0248.jpg" data-webm="public/uploads/image-uploads/2017-07-27-180240rhd2a8gu7resnf8w/DSCI0248.JPG" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180240rhd2a8gu7resnf8w/DSCI0248-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180242qnoqjo0ddhzjfke9/DSCI0257.jpg" data-webm="public/uploads/image-uploads/2017-07-27-180242qnoqjo0ddhzjfke9/DSCI0257.JPG" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180242qnoqjo0ddhzjfke9/DSCI0257-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-1802442wooukmycg8gem4k/DSCI0258.jpg" data-webm="public/uploads/image-uploads/2017-07-27-1802442wooukmycg8gem4k/DSCI0258.JPG" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-1802442wooukmycg8gem4k/DSCI0258-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180245q3efnkbobaaefutq/DSCI0259.jpg" data-webm="public/uploads/image-uploads/2017-07-27-180245q3efnkbobaaefutq/DSCI0259.JPG" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180245q3efnkbobaaefutq/DSCI0259-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180246f0re94ze3crzetf7/DSCI0260.jpg" data-webm="public/uploads/image-uploads/2017-07-27-180246f0re94ze3crzetf7/DSCI0260.JPG" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180246f0re94ze3crzetf7/DSCI0260-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180246wwlqc9cpmyd2awbo/IMG_9875.jpg" data-webm="public/uploads/image-uploads/2017-07-27-180246wwlqc9cpmyd2awbo/IMG_9875.jpg" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180246wwlqc9cpmyd2awbo/IMG_9875-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180250ljybndvhxctkrlrt/IMG_20161025_184346.jpg" data-webm="public/uploads/image-uploads/2017-07-27-180250ljybndvhxctkrlrt/IMG_20161025_184346.jpg" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180250ljybndvhxctkrlrt/IMG_20161025_184346-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180254zeuulqlnwpadfimd/IMG_20161028_144226.jpg" data-webm="public/uploads/image-uploads/2017-07-27-180254zeuulqlnwpadfimd/IMG_20161028_144226.jpg" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180254zeuulqlnwpadfimd/IMG_20161028_144226-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180255cyoubkkykxgyokzk/IMG_20161111_132853.jpg" data-webm="public/uploads/image-uploads/2017-07-27-180255cyoubkkykxgyokzk/IMG_20161111_132853.jpg" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180255cyoubkkykxgyokzk/IMG_20161111_132853-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180256fkhkccb6pyuvsy5y/IMG_20170403_153724_259.jpg" data-webm="public/uploads/image-uploads/2017-07-27-180256fkhkccb6pyuvsy5y/IMG_20170403_153724_259.jpg" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180256fkhkccb6pyuvsy5y/IMG_20170403_153724_259-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180257vrmlvwzloja15d5b/IMG_20170403_163544_046.jpg" data-webm="public/uploads/image-uploads/2017-07-27-180257vrmlvwzloja15d5b/IMG_20170403_163544_046.jpg" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180257vrmlvwzloja15d5b/IMG_20170403_163544_046-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-1802595zcbuf47qyhnhxkk/IMG_20170406_131053_111.jpg" data-webm="public/uploads/image-uploads/2017-07-27-1802595zcbuf47qyhnhxkk/IMG_20170406_131053_111.jpg" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-1802595zcbuf47qyhnhxkk/IMG_20170406_131053_111-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180259kkpj78squjpqnjdp/Nuotrauka-0072.jpg" data-webm="public/uploads/image-uploads/2017-07-27-180259kkpj78squjpqnjdp/Nuotrauka-0072.jpg" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180259kkpj78squjpqnjdp/Nuotrauka-0072-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180259kthm0uu9jel2oqg3/Nuotrauka-0074.jpg" data-webm="public/uploads/image-uploads/2017-07-27-180259kthm0uu9jel2oqg3/Nuotrauka-0074.jpg" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180259kthm0uu9jel2oqg3/Nuotrauka-0074-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180259i6kg7eqm8nfehc3k/Nuotrauka-0195.jpg" data-webm="public/uploads/image-uploads/2017-07-27-180259i6kg7eqm8nfehc3k/Nuotrauka-0195.jpg" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180259i6kg7eqm8nfehc3k/Nuotrauka-0195-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180259qjbayrwmgb8ajsux/Nuotrauka-0198.jpg" data-webm="public/uploads/image-uploads/2017-07-27-180259qjbayrwmgb8ajsux/Nuotrauka-0198.jpg" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180259qjbayrwmgb8ajsux/Nuotrauka-0198-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180301ds5xfbjxinmbduss/PhotoGrid_1459721716179.jpg" data-webm="public/uploads/image-uploads/2017-07-27-180301ds5xfbjxinmbduss/PhotoGrid_1459721716179.jpg" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180301ds5xfbjxinmbduss/PhotoGrid_1459721716179-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180304mqnzrmwba5prqned/PhotoGrid_1460610073254.jpg" data-webm="public/uploads/image-uploads/2017-07-27-180304mqnzrmwba5prqned/PhotoGrid_1460610073254.jpg" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180304mqnzrmwba5prqned/PhotoGrid_1460610073254-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180308exmwadjcok264apf/PhotoGrid_1462273949619.jpg" data-webm="public/uploads/image-uploads/2017-07-27-180308exmwadjcok264apf/PhotoGrid_1462273949619.jpg" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180308exmwadjcok264apf/PhotoGrid_1462273949619-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180312yhq6w90ezrxngghv/PhotoGrid_1473894822118.jpg" data-webm="public/uploads/image-uploads/2017-07-27-180312yhq6w90ezrxngghv/PhotoGrid_1473894822118.jpg" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180312yhq6w90ezrxngghv/PhotoGrid_1473894822118-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180313rat002ftzbtcwp9p/PicsArt_02-05-06.16.30.jpg" data-webm="public/uploads/image-uploads/2017-07-27-180313rat002ftzbtcwp9p/PicsArt_02-05-06.16.30.jpg" class="html5lightbox" data-group="group_certificate">
                                <img src="~/themes/Gallery/public/uploads/image-uploads/2017-07-27-180313rat002ftzbtcwp9p/PicsArt_02-05-06.16.30-image(100x100-crop()).jpg" alt="" title="">
                            </a>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</section>


<section id="footer-widget">

    <div class="container">
        <div class="footer-item-wrap">
            <div class="footer-item">
                <div class="footer-logo">
                    <img src="~/themes/Gallery/public/assets/images/icons/logo_BalticBrows.svg" alt="Footer logo">
                </div>
                <div class="footer-socal">
                    <a target="_blank" href="https://www.facebook.com/balticbrows/?fref=ts" class="socal">
                        <span class="icon icon-facebook"></span>
                    </a>
                    <a target="_blank" href="https://www.instagram.com/baltic_brows/" class="socal">
                        <span class="icon icon-instagram"></span>
                    </a>
                </div>
            </div>
            <div class="footer-item">
                <div class="contact-info">
                    <div class="contact-item">
                        <span data-icon="C" class="icon"></span>
                        <div class="contact-text"> S. Daukanto 26-3, Kaunas, Lithuania LT-44246</div>
                    </div>

                    <div class="contact-item">
                        <span data-icon="F" class="icon"></span>
                        <div class="contact-text">+370 623 86527</div>
                    </div>

                    <div class="contact-item">
                        <span data-icon="G" class="icon"></span>
                        <div class="contact-text"> balticbrows@gmail.com</div>
                    </div>

                    <div class="contact-item">
                        <span data-icon="G" class="icon"></span>
                        <div class="contact-text"> info@balticbrows.com</div>
                    </div>
                </div>
            </div>

            <div class="footer-item">
                <div class="shop-container">
                    <div class="shop-title">
                        <div class="shop-main-title">Visit our e-store at</div>
                        <div class="shop-main-url">

                            <a href="#shop">www.shopbalticbrows.com </a>
                        </div>
                    </div>
                    <div class="shop-btn">
                        <a href="http://www.shopbalticbrows.com/" target="_blank">
                            <span data-icon="E" class="icon"></span>
                            <div class="shop-btn-text">Shop Now!</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer-item">
                <div class="news-letter-wrap">
                    <div class="news-letter-text">
                        <div class="news-letter-title-big">
                            Newsletter subscription
                        </div>
                        <div class="news-letter-title-small">
                            Get the best deals first!
                        </div>
                    </div>
                    <div class="news-letter-input">
                        <form method="POST" action="https://balticbrows.com/en/newsletter/subscribe" accept-charset="UTF-8" id="newsletter_form">
                            <input name="_token" type="hidden" value="LPDotKUGvXSIszbGv23jqh8VPx0irbQQckanfDZg">
                            <input type="email" placeholder="Enter Your email address" name="email"
                                   id="email" class="field_news_letter">
                            <input type="submit" value="Subscribe" class="button_news_letter">

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
