<section id="big-header-img-wrap">

    <!--<div class="big-header-img" style="background-image: url('https://balticbrows.com/public/uploads/galleries/microblading-6d-brows/wezstpsyiqsokvet2017-08-24-184635.jpg');">

       <div class="big-header-img-title">Microblading 6D Brows</div>

    </div>-->

    <div class="big-header-img">

        <div class="big-header-img-title">Microblading 6D Brows</div>
        <img src="~/themes/Gallery/public/uploads/galleries/microblading-6d-brows/wezstpsyiqsokvet2017-08-24-184635.jpg">

    </div>

</section>

<div id="page-description">


    <div class="container">

        <p style="text-align: justify;">Microblading also known as 6D eyebrows, Eyebrow Embroidery, Eyebrow Feathering, Softap technique or Japanese method is a way of permanent makeup, where through manual process of inserting pigment into the upper layers of skin (upper layer of dermis) we create the desired fullness and shape of the eyebrows. The effect last up to 3 years (touch up needed after 1.5-2 years) after which the pigment fades leaving the skin and client&rsquo;s natural brows.</p>

    </div>


</div>

<section id="page-content">
    <div class="container">
        <div class="page-wrap">

            <div id="treatments-description">
                <p style="text-align: justify;">Because color is impacted closer to the surface, the hair strokes appear very crispy and fine. This method is ideal for anyone wanting to enhance the look of his or her eyebrows but not suitable for oily, problematic skin. The results are naturally looking, hair-like strokes, regardless of the amount of hair present. People suffering from alopecia, trigonometric or any other condition that causes hair loss benefit greatly from Microblading, as well as those who simply aren't happy with their eyebrows. The pigments used in this method have been formulated to match client&rsquo;s original eyebrow color, and if the eyebrows are still present, blend perfectly into them. The results are realistic, flawless, fuller looking eyebrows.</p>
                <p style="text-align: justify;">PROS:</p>
                <ul style="text-align: justify;">
                    <li>This is a manual method where we don&rsquo;t use machine</li>
                    <li>Hair strokes technique looks super naturally as it is easier to draw curved, crispy strokes with a manual tool</li>
                    <li>Easier to learn comparing with a machine hair strokes technique</li>
                    <li>Treatment is much faster comparing with strokes technique done with a machine</li>
                    <li>No &ldquo;angry birds&rdquo; eyebrows effect</li>
                    <li>Cheaper cost</li>
                    <li>For drawing we use very thin blades (0.18 mm) which make less intervention for skin and creates hair strokes identical to natural ones</li>
                    <li>The effect lasts for 1-1,5 years, the touch up is necessary depending on internal (skin type etc) and external factors (sun, peelings etc)</li>
                    <li>High quality JA Brows pigments are used for treatments so eyebrows doesn&rsquo;t change color after some time, just fades step by step</li>
                </ul>
                <p style="text-align: justify;">CONS:</p>
                <ul>
                    <li style="text-align: justify;">Not every person can be microbladed - not suitable for oily, big porous, problematic, thin (acne, cuperosis etc) skin</li>
                    <li style="text-align: justify;">This technique requires a lot of practice to create beautiful realistic hair strokes effect and to improve artistic skills. That&rsquo;s why we call first certification level of becoming an ARTIST.</li>
                </ul>
            </div>

        </div>
    </div>
</section>

<section id="vedio" class="sample-work treatmens-inner" style="padding-top: 0px">
    <div class="container">
        <div class="vedio-wrap">

            <div class="vedio-header">

                Samples of work

            </div>



            <div class="vedio-item-wrap">


                <div class="vedio-item height-255 ">
                    <a href="~/themes/Gallery/public/uploads/videos/online-training/picsart-10-11-120156jpg/video-PicsArt_10-11-12.01.56.jpg.jpg" data-webm="public/uploads/videos/online-training/picsart-10-11-120156jpg/video-PicsArt_10-11-12.01.56.jpg.jpg" class="html5lightbox" data-group="set1">

                        <img src="~/themes/Gallery/public/uploads/videos/online-training/picsart-10-11-120156jpg/video-PicsArt_10-11-12.01.56.jpg.jpg" alt="PicsArt_10-11-12.01.56.jpg" title="PicsArt_10-11-12.01.56.jpg" id="">

                    </a>

                </div>



                <div class="vedio-item height-255 ">
                    <a href="~/themes/Gallery/public/uploads/videos/online-training/picsart-10-17-114314jpg/video-PicsArt_10-17-11.43.14.jpg.jpg" data-webm="public/uploads/videos/online-training/picsart-10-17-114314jpg/video-PicsArt_10-17-11.43.14.jpg.jpg" class="html5lightbox" data-group="set1">

                        <img src="~/themes/Gallery/public/uploads/videos/online-training/picsart-10-17-114314jpg/video-PicsArt_10-17-11.43.14.jpg.jpg" alt="PicsArt_10-17-11.43.14.jpg" title="PicsArt_10-17-11.43.14.jpg" id="">

                    </a>

                </div>



                <div class="vedio-item height-255 ">
                    <a href="~/themes/Gallery/public/uploads/videos/online-training/photogrid-1476975989972jpg/video-PhotoGrid_1476975989972.jpg.jpg" data-webm="public/uploads/videos/online-training/photogrid-1476975989972jpg/video-PhotoGrid_1476975989972.jpg.jpg" class="html5lightbox" data-group="set1">

                        <img src="~/themes/Gallery/public/uploads/videos/online-training/photogrid-1476975989972jpg/video-PhotoGrid_1476975989972.jpg.jpg" alt="PhotoGrid_1476975989972.jpg" title="PhotoGrid_1476975989972.jpg" id="">

                    </a>

                </div>



                <div class="vedio-item height-255 ">
                    <a href="~/themes/Gallery/public/uploads/videos/online-training/picsart-03-04-110304png/video-PicsArt_03-04-11.03.04.png.png" data-webm="public/uploads/videos/online-training/picsart-03-04-110304png/video-PicsArt_03-04-11.03.04.png.png" class="html5lightbox" data-group="set1">

                        <img src="~/themes/Gallery/public/uploads/videos/online-training/picsart-03-04-110304png/video-PicsArt_03-04-11.03.04.png.png" alt="PicsArt_03-04-11.03.04.png" title="PicsArt_03-04-11.03.04.png" id="">

                    </a>

                </div>





            </div>





        </div>
    </div>
</section>

<section id="course-info-block">
    <div class="container">

        <div class="course-info-navigation">


            <div class="course-navigation-item current_course_item coures_item-1" data-id="element_1_scroll">

                <div class="course-navigation-icon">

                    <div class="icon icon-warning"></div>

                </div>

                <div class="course-navigation-text">Contraindications</div>

            </div>





            <div class="course-navigation-item coures_item-2">

                <div class="course-navigation-icon">

                    <div class="icon icon-checklist"></div>

                </div>

                <div class="course-navigation-text">Preparation</div>

            </div>





            <div class="course-navigation-item coures_item-3">

                <div class="course-navigation-icon">

                    <div class="icon icon-days-calendar"></div>

                </div>

                <div class="course-navigation-text">Aftercare</div>

            </div>








            <div class="course-navigation-item coures_item-4">

                <div class="course-navigation-icon">

                    <div class="icon icon-bandaid"></div>

                </div>

                <div class="course-navigation-text">Healing process</div>

            </div>






            <div class="course-navigation-item current_course_item coures_item-1">

                <div class="course-navigation-icon">

                    <div class="icon icon-artists-brush"></div>

                </div>

                <div class="course-navigation-text">Touch up</div>

            </div>



            <div class="course-navigation-item current_course_item coures_item-1">

                <div class="course-navigation-icon">

                    <div class="icon icon-faq-question"></div>

                </div>

                <div class="course-navigation-text">FAQ</div>

            </div>


        </div>

    </div>
</section>

<section id="course-info">
    <div class="container">

        <div class="course-info-wrap treatments step-text">



            <div id="myaccordion" class="treatmen-inner ">


                <div class="course-lesson-item">

                    <div class="course-lesson-header coures_item-1">

                        <div class="course-lesson-header-title">

                            <span class="icon icon-warning"></span>

                            <span class="course-lesson-text">Contraindications</span>

                        </div>



                    </div>



                    <div class="course-lesson-level-1-wrap remove-border" id="element_1_scroll">

                        <ul>
                            <li>Old permanent makeup in eyebrows are. Only if the old permanent makeup is faded.</li>
                            <li>Oily skin (for microblading only);</li>
                            <li>Sensitive skin (contains blemishes, big open pores, couperosis, redness on cheeks);</li>
                            <li>Pregnancy;</li>
                            <li>Nursing;</li>
                            <li>Drugs/ Alcohol;</li>
                            <li>Allergies (nickel, anesthetics, latex, iron oxide);</li>
                            <li>Retain A within last 2 weeks;</li>
                            <li>Anemia;</li>
                            <li>Heart / blood problems;</li>
                            <li>Prolonged bleeding;</li>
                            <li>Low/ high blood pressure;</li>
                            <li>Diabetes;</li>
                            <li>Haemophilia;</li>
                            <li>Liver disease;</li>
                            <li>Epilepsy;</li>
                            <li>HIV;</li>
                            <li>Hepatitis;</li>
                            <li>Cancer in the past 6 months;</li>
                            <li>Chemical or laser peel within&nbsp; 6 weeks;</li>
                            <li>AHA preparations in the past 2 weeks;</li>
                            <li>All types injections (1 month before and after treatment);</li>
                            <li>Hypertrophic scars;</li>
                            <li>Keloid scars;</li>
                            <li>Moles in brows area;</li>
                            <li>Birthmarks in brows area;</li>
                            <li>Healing problems;</li>
                            <li>Eczema,</li>
                            <li>Psoriasis,</li>
                            <li>Severe acne,</li>
                            <li>Minor skin conditions in brow area;</li>
                            <li>Serious heart disorders,</li>
                            <li>Blood infections;</li>
                            <li>Waxing in brows area;</li>
                            <li>Autoimmune disease;</li>
                            <li>Hyper-pigmentation;</li>
                            <li>Using Accutane or other retinoids past 6 months;</li>
                            <li>Sunburn;</li>
                            <li>The area is already damaged or the irritations are visible.</li>
                        </ul>

                    </div>

                </div>





                <div class="course-lesson-item">

                    <div class="course-lesson-header">

                        <div class="course-lesson-header-title coures_item-2">

                            <span class="icon icon-checklist"></span>

                            <span class="course-lesson-text">Preparation</span>

                        </div>

                    </div>



                    <div class="course-lesson-level-1-wrap remove-border">

                        <ul>
                            <li style="text-align: justify;">Do not drink alcohol, coffee, strong tea, blood thinning medicines at least one day before the treatment ;</li>
                            <li style="text-align: justify;">Do not eat heavy and spicy food on the day of treatment;</li>
                            <li style="text-align: justify;">Do not use soliarium and do not sunbath at least 7 days before the treatment;</li>
                            <li style="text-align: justify;">Do not perform mesotherapy, biorevitalisation, acid facial peeling, facial cleansers, facial laser hair removal, laser removal of capillaries at least 1 month before the treatment;</li>
                            <li style="text-align: justify;">Do not tint eyebrows and come as possible as natural look (no waxing recommended to see full shape; also avoid skin irritation);</li>
                            <li style="text-align: justify;">Do not take Aspirin, Vitamin E, Niacin, Ibuprofen 1 day before the treatment;</li>
                            <li style="text-align: justify;">If you got botox injections, you should wait at least 1 month before the treatment;</li>
                            <li style="text-align: justify;">Make sure you ckecked all CONTRAINDICATIONS list in previous section.</li>
                        </ul>

                    </div>

                </div>





                <div class="course-lesson-item">



                    <div class="course-lesson-header">

                        <div class="course-lesson-header-title coures_item-3">

                            <span class="icon icon-days-calendar"></span>

                            <span class="course-lesson-text">Aftercare</span>

                        </div>

                    </div>



                    <div class="course-lesson-level-1-wrap remove-border">

                        <ul>
                            <li style="text-align: justify;">Make sure your hands are washed and sanitized</li>
                        </ul>
                        <ul>
                            <li style="text-align: justify;"><strong>1<sup>st</sup> DAY: </strong>for the first day gently clean the area using distilled water and cotton pad when you see lymph (body fluid) going out of the brow area. Otherwise, the big scab will form and you will loose a lot of pigment when it is falling down. In the end of the day apply thin layer of JA Brows&reg; aftercare ointment.</li>
                            <li style="text-align: justify;"><strong>2<sup>nd</sup> -10<sup>th</sup> DAYS: </strong>After first day don't use any water but only JA Brows&reg; ointment (THIN LAYER) 2 times in a day (morning and evening) for 10 days until scabs start to fall off.&nbsp;</li>
                            <li style="text-align: justify;">Each time wash hands before and after application and use a clean cotton to avoid infection. If a crust appears on the pigmented surface do not force the removal by picking, scratching or washing! Pigment may be removed along with the crust!</li>
                            <li style="text-align: justify;">Use a gentle face cleanser but avoid the treatment areas.</li>
                            <li style="text-align: justify;">Shower with your back to the water to avoid water, shampoo and conditioner from getting into the pigmented areas</li>
                            <li style="text-align: justify;"><strong>Avoid for 10 days<em>: </em></strong>Soaps; Facial cleansers; Washing pigmented area; Chlorine pools; Retin-A on pigmented areas; Makeup on pigmented area for 10 days, including non-allergenic; Hot, steamy, long showers; Sun on pigmented areas; Jacuzzi or saunas; Gym.</li>
                        </ul>

                    </div>

                </div>








                <div class="course-lesson-item">



                    <div class="course-lesson-header coures_item-5">

                        <div class="course-lesson-header-title">

                            <span class="icon icon-bandaid"></span>

                            <span class="course-lesson-text">Healing process</span>

                        </div>

                    </div>



                    <div class="course-lesson-level-1-wrap remove-border">

                        <p style="text-align: justify;">The result of the treatment is determined by the following: medication, skin characteristics (dry, oily, sun-damaged, thick or thin skin type), Personal pH balance of your skin, alcohol intake and smoking, post procedure aftercare. Upon completion of the procedure there may be swelling and redness of the skin, which will subside within 1-4 days depending organism. Immediately after the procedure the enhancement can be 30 to 50% darker than the desired result and it can take between 4-10 days to lighten. The true colour will be visible 1 month after each application, and the color may vary according to skin tones, skin type, age and skin conditions. Some skins accept color more readily than others and no guarantee of an exact effect or color can be given.</p>
                        <p style="text-align: justify;">It is very important to wipe the pigmented area with sterile water, cotton pad and then apply thin layer of ointment on the first day if the lymph appears. The reason is to remove the lymph otherwise your eyebrows will be covered with big scabs. If the client follows the aftercare, she/he will get small scabs &ndash; thin layer of crust that will be peeling of itself. It is very important not to scratch eyebrows &nbsp;(client can feel itching) as you can easily loose the pigment together with scratching. If this happen, mostly there is no pigment left and skin can be white or even reddish because of irritation. The iritation will disappear within a few days. Sometimes the client can see redness the same day after the treatment. This is also normal and it disappears in the next few days.</p>

                    </div>

                </div>







                <div class="course-lesson-item">



                    <div class="course-lesson-header coures_item-5 remove-border">

                        <div class="course-lesson-header-title">

                            <span class="icon icon-artists-brush"></span>

                            <span class="course-lesson-text">Touch up</span>

                        </div>

                    </div>



                    <div class="course-lesson-level-1-wrap remove-border">

                        <p style="text-align: justify;">The touch up is recommended no earlier than 30 days. Usually, we recommend to come for touchup up to 3 months. During the touch up, the client can add more strokes (some can disappear during healing), choose warmer/darker colour, correct the shape.</p>

                    </div>

                </div>



                <div class="course-lesson-item">

                    <div class="course-lesson-header coures_item-5 remove-border">

                        <div class="course-lesson-header-title">

                            <span class="icon icon-faq-question"></span>

                            <span class="course-lesson-text">FAQ</span>

                        </div>

                    </div>

                    <div class="course-lesson-level-1-wrap remove-border">

                        <p style="text-align: justify;"><strong>Does microblading leave scars?</strong></p>
                        <ul style="text-align: justify;">
                            <li>Each permanent makeup technique can be done in a very wrong way as everything depends on knowledge, practice, products. The technician has to be properly trained about skin types, deepness, contraindications and many factors. Not all skin types can be microbladed. In case technician microblades oily or problematic skin, healed results will look blurred.</li>
                        </ul>
                        <p style="text-align: justify;"><strong>Is it painful?</strong></p>
                        <ul style="text-align: justify;">
                            <li>Yes the client can feel discomfort but we numb. Everything depends on the deepness the technician works, pain tolerance, numbing strength. There are two types of numbing &ndash; primary and secondary. We always recommend not to use primary anesthesia as the retention of color is better and the skin is not so tough, slippery so it is much easier to do the first pass of treatment without numbing. The first pass duration is about 4-5 minutes, after that we always use secondary anesthesia. So the clients can decide if he/she can handle the pain during the first pass (usually the scale of pain is 5-6). If yes, then we use only secondary numbing. If not, then we use both and client almost doesn&rsquo;t feel anything.</li>
                        </ul>
                        <p style="text-align: justify;"><strong>What tools and products are used for treatment?</strong></p>
                        <ul style="text-align: justify;">
                            <li>Disposable or autoclave tool with single use blade which consists of 7-18 needles, certified permanent makeup pigments, soothing solution, sterile cotton pads, ruler for measuring, sterile disposable pigments ring, special pencil for permanent makeup, sterile marker, sterile water and some other equipment to make sure the treatment is done hygienically.</li>
                        </ul>
                        <p style="text-align: justify;"><strong>What is the duration of the treatment?</strong></p>
                        <ul style="text-align: justify;">
                            <li>The duration depends on technician but usually it is 1.5-2 hours.</li>
                        </ul>
                        <p style="text-align: justify;"><strong>What are the treatment steps?</strong></p>
                        <ul>
                            <li style="text-align: justify;">Consultation</li>
                            <li style="text-align: justify;">Medical health form and agreement</li>
                            <li style="text-align: justify;">Eyebrows shaping</li>
                            <li style="text-align: justify;">Numbing (optional)</li>
                            <li style="text-align: justify;">First pass of treatment</li>
                            <li style="text-align: justify;">Numbing</li>
                            <li style="text-align: justify;">Second pass of treatment</li>
                            <li style="text-align: justify;">Pigment absorption</li>
                            <li style="text-align: justify;">Final result discussion and explanation of aftercare</li>
                        </ul>

                    </div>

                </div>




            </div>

        </div>

        <script type="text/javascript">$(".step-text").find('ul li').prepend('<span class="icon icon-check"></span>');
        $("#treatments-description").find('ul li').prepend('<span class="icon icon-check"></span>');

        $(".course-navigation-item").on('click', function () {
            var id = $(this).attr('data-id');
            setTimeout(function () {
              //  EPPZScrollTo.scrollVerticalToElementById('element_1_scroll', 20);
            }, 1500);
        });</script>

        <style type="text/css">

            #treatments-description span.icon {
                color: #c7aa48;
                padding: 3px 5px 0px 0px;
                float: left;
            }

            #treatments-description ul li {
                font-weight: normal !important;
                line-height: 180%;
                list-style: none;
                text-align: left;
                float: left;
                width: 100%;
            }
        </style>

    </div>
</section>
