<div class="page-header">
    <div class="row">
        <div class="col-md-8">
            <h2>Thông tin đăng ký: #{{vm.order.id}}</h2>
        </div>
        <div class="col-md-4 text-right">
            <a href="/api/invoices/print/{{vm.order.id}}" target="_blank" class="btn btn-info"><span class="glyphicon glyphicon-download-alt"></span> {{::vm.translate.get('Download Invoice')}}</a>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Thông tin người đăng ký</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <h5>Thông tin người đăng ký</h5>
                <p>
                    <strong>Họ tên: {{vm.order.shippingAddress.contactName}}</strong> <br />
                    Email: {{vm.order.shippingAddress.addressLine1}} <br />
                    Số điện thoại: {{vm.order.shippingAddress.phone}}
                </p>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{::vm.translate.get('Product Information')}}</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped order-item-list">
            <thead>
                <tr>
                    <th>{{::vm.translate.get('Product')}}</th>
                    <th class="text-right">{{::vm.translate.get('Price')}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.order.orderItems">
                    <td>
                        <a ui-sref="product-edit({id: item.productId})">{{item.productName}}</a>
                        <ul ng-if="item.variationOptions.length > 0" class="list-unstyled">
                            <li ng-repeat="opt in item.variationOptions">
                                <span>{{opt.optionName}}:</span> {{opt.value}}
                            </li>
                        </ul>
                    </td>
                    <td class="text-right">{{item.productPriceString}}</td>
                    <td class="text-right">
                        Ordered {{item.quantity}}<span ng-if="item.shippedQuantity"><br />Shipped {{item.shippedQuantity}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div>
    <button ui-sref="order" class="btn btn-default">{{::vm.translate.get('Back')}}</button>
</div>
