@model SimplCommerce.Module.Catalog.Areas.Catalog.ViewModels.CategoryWidgetComponentVm
@*<h2 class="page-header">@Model.WidgetName</h2>
    <div class="row">
        <div class="thumbnail">
            <a href="~/@Model.Category.Slug">
                <img alt="@Model.Category.Name" src="@Model.Category.ThumbnailUrl">
                <div class="caption">
                    <h4 class="product-name">@Model.Category.Name</h4>
                </div>
            </a>
        </div>
    </div>*@


<div class="block">
    <div class="block-title">
        <a href="blog.html" class="right">View blog</a>
        <h2>Highlights</h2>
    </div>
    <div class="block-content">
        <ul class="article-block-big">
            <li>
                <div class="article-photo">
                    <a href="post.html" class="hover-effect"><img src="~/themes/Tourims/images/kyketduan19-232_thumb.gif" alt="" /></a>
                </div>
                <div class="article-content">
                    <h4><a href="post.html">Bổ nhiệm đồng chí Nguyễn Văn Chính làm Giám đốc Vườn Quốc gia Cúc Phương</a><a href="post.html#comments" class="h-comment">201</a></h4>
                    <span class="meta">
                        <a href="blog.html"><span class="icon-text">&#128340;</span>11:20, 7.Oct 2013</a>
                    </span>
                </div>
            </li>
            <li>
                <div class="article-photo">
                    <a href="post.html" class="hover-effect"><img src="~/themes/Tourims/images/photos/image-11.jpg" alt="" /></a>
                </div>
                <div class="article-content">
                    <h4><a href="post.html">Nec option veritus ullamcorper quaestio</a><a href="post.html#comments" class="h-comment">74</a></h4>
                    <span class="meta">
                        <a href="blog.html"><span class="icon-text">&#128340;</span>11:20, 7.Oct 2013</a>
                    </span>
                </div>
            </li>
            <li>
                <div class="article-photo">
                    <a href="post.html" class="hover-effect"><img src="~/themes/Tourims/images/photos/image-12.jpg" alt="" /></a>
                </div>
                <div class="article-content">
                    <h4><a href="post.html">Ea fugit appareat quaestio delectus pericula</a><a href="post.html#comments" class="h-comment">39</a></h4>
                    <span class="meta">
                        <a href="blog.html"><span class="icon-text">&#128340;</span>11:20, 7.Oct 2013</a>
                    </span>
                </div>
            </li>
            <li>
                <div class="article-photo">
                    <a href="post.html" class="hover-effect"><img src="~/themes/Tourims/images/photos/image-13.jpg" alt="" /></a>
                </div>
                <div class="article-content">
                    <h4><a href="post.html">Ex cibo ullum nostrum per quo cu utamur fabulas</a><a href="post.html#comments" class="h-comment">99</a></h4>
                    <span class="meta">
                        <a href="blog.html"><span class="icon-text">&#128340;</span>11:20, 7.Oct 2013</a>
                    </span>
                </div>
            </li>
            <li>
                <div class="article-photo">
                    <a href="post.html" class="hover-effect"><img src="~/themes/Tourims/images/photos/image-14.jpg" alt="" /></a>
                </div>
                <div class="article-content">
                    <h4><a href="post.html">Debitis minimum vituperata mei no intellegam</a><a href="post.html#comments" class="h-comment">201</a></h4>
                    <span class="meta">
                        <a href="blog.html"><span class="icon-text">&#128340;</span>11:20, 7.Oct 2013</a>
                    </span>
                </div>
            </li>
            <li>
                <div class="article-photo">
                    <a href="post.html" class="hover-effect"><img src="~/themes/Tourims/images/photos/image-15.jpg" alt="" /></a>
                </div>
                <div class="article-content">
                    <h4><a href="post.html">Debitis minimum vituperata mei no intellegam</a><a href="post.html#comments" class="h-comment">201</a></h4>
                    <span class="meta">
                        <a href="blog.html"><span class="icon-text">&#128340;</span>11:20, 7.Oct 2013</a>
                        <span class="tag">Updated</span>
                    </span>
                </div>
            </li>
        </ul>
    </div>
</div>
