

@model SimplCommerce.Module.Core.Areas.Core.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="content-block main right">

    <partial name="_WidgetInstances" model="Model.WidgetInstances.Where(x => x.WidgetZoneId == WidgetZoneIds.HomeFeatured)" />

    ﻿<partial name="_WidgetInstances" model="Model.WidgetInstances.Where(x => x.WidgetZoneId == WidgetZoneIds.HomeMainContent)" />

    <!-- END .content-block -->
</div>


<div class="content-block left">

    <div class="block">
        <div class="featured-block">
            <div class="article-content">
                <h3><a href="post.html">Cucphuong National Park Vietnam</a><a href="post.html#comments" class="h-comment">43</a></h3>
                <span class="meta">
                    <a href="blog.html"><span class="icon-text">&#128340; </span>11:20, 7.Oct 2013</a>
                </span>
            </div>
            <div class="article-photo">
                <iframe width="250" height="250" src="https://www.youtube.com/embed/WXrSkhOD7GQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="block">
        <h2 class="list-title">USEFUL LINKS</h2>
        <ul class="article-list">
            <li><a href="post.html">Tạp chí bảo vệ rừng và môi trường</a><a href="post.html#comments" class="h-comment">32</a><span class="meta-date">7.Oct</span></li>
            <li><a href="post.html">Endangered primate Rescue Center</a><a href="post.html#comments" class="h-comment">84</a><span class="meta-date">7.Oct</span></li>
            <li><a href="post.html">Lus eleifend hom pertinacia hom pertinacia</a><a href="post.html#comments" class="h-comment">72</a><span class="meta-date">6.Oct</span></li>
            <li><a href="post.html">Pri viderer recteque exp inimicusis verear minimum vim</a><a href="post.html#comments" class="h-comment">136</a><span class="meta-date">6.Oct</span></li>
            <li><a href="post.html">Ocurr comprehensam recteq comprehensam recteq</a><a href="post.html#comments" class="h-comment">8</a><span class="meta-date">6.Oct</span></li>
            <li><a href="post.html">Ut oratio viderer evertim</a><a href="post.html#comments" class="h-comment">92</a><span class="meta-date">5.Oct</span></li>
        </ul>
        <a href="blog.html" class="more">Read More</a>
    </div>

    <div class="block">
        <h2 class="list-title" style="color: #c42b20;border-bottom: 2px solid #c42b20;">HOT LINE</h2>
        <ul class="article-list">
            <li><a href="post.html">Call :      (+84) 915.666.916</a></li>
            <li><a href="post.html">or           (+84) 984.468.662</a></li>
            <li><a href="post.html">Monday - Friday: 8 a.m. - 9 p.m. ET</a></li>
            <li><a href="post.html">Saturday: 8 a.m. - 7 p.m. ET</a></li>
            <li><a href="post.html">Reception & Counter</a></li>
            <li><a href="post.html">Tel: ( +84 ) 2293.848.006</a></li>
            <li><a href="post.html">Cell phone: (+84)338.141.214</a></li>
            <li><a href="post.html">Everyday: 6 a.m - 10 p.m</a></li>
        </ul>
    </div>

    <div class="block">
        <h2 class="list-title" style="color: #2277c6;border-bottom: 2px solid #2277c6;">Middle East News</h2>
        <ul class="article-list">
            <li><a href="post.html">Solet percipit euod tractatos percipit euod tractatos</a><a href="post.html#comments" class="h-comment">32</a><span class="meta-date">7.Oct</span></li>
            <li><a href="post.html">Ei sonet atomorum meiquo singulis invenire nesit</a><a href="post.html#comments" class="h-comment">84</a><span class="meta-date">7.Oct</span></li>
            <li><a href="post.html">Lus eleifend hom pertinacia hom pertinacia</a><a href="post.html#comments" class="h-comment">72</a><span class="meta-date">6.Oct</span></li>
            <li><a href="post.html">Pri viderer recteque exp inimicusis verear minimum vim</a><a href="post.html#comments" class="h-comment">136</a><span class="meta-date">6.Oct</span></li>
            <li><a href="post.html">Ocurr comprehensam recteq comprehensam recteq</a><a href="post.html#comments" class="h-comment">8</a><span class="meta-date">6.Oct</span></li>
            <li><a href="post.html">Ut oratio viderer evertim</a><a href="post.html#comments" class="h-comment">92</a><span class="meta-date">5.Oct</span></li>
            <li><a href="post.html">Solet percipit euod tractatos percipit euod tractatos</a><a href="post.html#comments" class="h-comment">32</a><span class="meta-date">7.Oct</span></li>
            <li><a href="post.html">Ei sonet atomorum meiquo singulis invenire nesit</a><a href="post.html#comments" class="h-comment">84</a><span class="meta-date">7.Oct</span></li>
            <li><a href="post.html">Solet percipit euod tractatos percipit euod tractatos</a><a href="post.html#comments" class="h-comment">32</a><span class="meta-date">7.Oct</span></li>
            <li><a href="post.html">Ei sonet atomorum meiquo singulis invenire nesit</a><a href="post.html#comments" class="h-comment">84</a><span class="meta-date">7.Oct</span></li>
            <li><a href="post.html">Lus eleifend hom pertinacia hom pertinacia</a><a href="post.html#comments" class="h-comment">72</a><span class="meta-date">6.Oct</span></li>
            <li><a href="post.html">Pri viderer recteque exp inimicusis verear minimum vim</a><a href="post.html#comments" class="h-comment">136</a><span class="meta-date">6.Oct</span></li>
        </ul>
        <a href="blog.html" class="more">Read More</a>
    </div>


    <div class="block">
        <h2 class="list-title" style="color: #dd8229;border-bottom: 2px solid #dd8229;">Travel News</h2>
        <ul class="article-block">
            <li>
                <div class="article-photo">
                    <a href="post.html" class="hover-effect"><img src="~/themes/Tourims/images/photos/image-1.jpg" alt="" /></a>
                </div>
                <div class="article-content">
                    <h4><a href="post.html">Debitis minimum vituperata mei no adipiscing</a><a href="post.html#comments" class="h-comment">201</a></h4>
                    <span class="meta">
                        <a href="blog.html"><span class="icon-text">&#128340;</span>11:20, 7.Oct 2013</a>
                    </span>
                </div>
            </li>
            <li>
                <div class="article-photo">
                    <a href="post.html" class="hover-effect"><img src="~/themes/Tourims/images/photos/image-2.jpg" alt="" /></a>
                </div>
                <div class="article-content">
                    <h4><a href="post.html">Nec option veritus ullamcorper quaestio</a><a href="post.html#comments" class="h-comment">74</a></h4>
                    <span class="meta">
                        <a href="blog.html"><span class="icon-text">&#128340;</span>11:20, 7.Oct 2013</a>
                    </span>
                </div>
            </li>
            <li>
                <div class="article-photo">
                    <a href="post.html" class="hover-effect"><img src="~/themes/Tourims/images/photos/image-3.jpg" alt="" /></a>
                </div>
                <div class="article-content">
                    <h4><a href="post.html">Ea fugit appareat quaestio delectus pericula</a><a href="post.html#comments" class="h-comment">39</a></h4>
                    <span class="meta">
                        <a href="blog.html"><span class="icon-text">&#128340;</span>11:20, 7.Oct 2013</a>
                    </span>
                </div>
            </li>
            <li>
                <div class="article-photo">
                    <a href="post.html" class="hover-effect"><img src="~/themes/Tourims/images/photos/image-4.jpg" alt="" /></a>
                </div>
                <div class="article-content">
                    <h4><a href="post.html">Ex cibo ullum nostrum per quo cu utamur fabulas</a><a href="post.html#comments" class="h-comment">99</a></h4>
                    <span class="meta">
                        <a href="blog.html"><span class="icon-text">&#128340;</span>11:20, 7.Oct 2013</a>
                    </span>
                </div>
            </li>
            <li>
                <div class="article-photo">
                    <a href="post.html" class="hover-effect"><img src="~/themes/Tourims/images/photos/image-5.jpg" alt="" /></a>
                </div>
                <div class="article-content">
                    <h4><a href="post.html">Debitis minimum vituperata mei no intellegam</a><a href="post.html#comments" class="h-comment">201</a></h4>
                    <span class="meta">
                        <a href="blog.html"><span class="icon-text">&#128340;</span>11:20, 7.Oct 2013</a>
                    </span>
                </div>
            </li>
        </ul>
        <a href="blog.html" class="more">Read More</a>
    </div>

    <!-- END .content-block -->
</div>
