/*
=================================
=================================
Product Home
=================================
=================================
*/
.product-home + .product-home {
  margin-top: 20px;
}
.product-home .pro-head {
  margin-bottom: 10px;
  background: #fff;
  margin-top: 0;
}

.product-home .pro-head .title {
  color: #fff;
  background-color: #f49b00;
  background-image: url("../images/bg_title1.jpg");
  background-repeat: no-repeat;
  background-position: right center;
}

.product-home .pro-head .title h3 {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 40px;
  padding: 0 40px 0 24px;
}

.product-home .pro-head .title h3 a {
  color: #fff;
  font-size: 22px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.product-home .pro-head .title h3 a:hover {
  color: black;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.product-home .pro-head .filter-price {
  margin-right: 10px;
}

.product-home .pro-head .filter-price span {
  font-weight: bold;
  font-size: 14px;
  margin-right: 10px;
  white-space: nowrap;
}

.product-home .pro-head .filter-price a {
  color: #0084cb;
  text-transform: uppercase;
  margin: 5px;
  font-size: 14px;
}

.product-home .pro-head .filter-price a:hover {
  color: #f49b00;
}

.product-home .owl-stage {
  display: -ms-flexbox !important;
  display: -webkit-box !important;
  display: flex !important;
  margin-left: 3px;
}

.product-home .owl-stage .item {
  height: 100%;
}

.product-home .owl-stage .item .p-item {
  height: 100%;
}

/*
==============
==============
footer
==============
==============
*/
.newleter {
  margin-top: 20px;
  background-color: #e1e1e1;
  padding: 27px 0;
  -webkit-box-shadow: inset 0 6px 22px -7px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 6px 22px -7px rgba(0, 0, 0, 0.4);
}

.newleter-text h4 {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
  text-transform: uppercase;
}

.newleter-text span {
  color: #333333;
}

.newleter-form {
  position: relative;
  margin-left: 20px;
}

.newleter-form input {
  width: 100%;
  border: 1px solid #e1e1e1;
  padding: 10px;
  border-radius: 5px;
  margin: 3px 0px;
  outline: 0;
}

    .newleter-form span {
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
        text-align: center;
        line-height: 19px;
        cursor: pointer;
        padding-top: 20px;
    }

.newleter-form span:hover {
  color: #ff9300;
}

#footer {
  background: #fff;
  overflow: hidden;
  padding: 20px 0;
}

#footer .box-footer {
  float: left;
  width: 269px;
}

#footer .box-footer .h-title {
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 10px;
}

#footer .box-footer li {
  margin: 6px 0;
}

#footer .box-footer li a {
  color: #333;
}

.support-footer .item {
  margin-bottom: 10px;
}

.support-footer .item b {
  font-size: 17px;
}

#list-showroom-footer {
  background-color: #fff;
  margin-top: 3px;
}

#list-showroom-footer li {
  float: left;
  width: 20%;
  padding: 0px 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-left: solid 1px #ddd;
  height: 52px;
  margin-bottom: 20px;
}

#list-showroom-footer li:nth-child(5n + 1) {
  border-left: none;
  padding-left: 0;
  clear: both;
}

#list-showroom-footer li b {
  display: block;
  font-size: 15px;
}

#list-showroom-footer span {
  font-size: 12px;
}

#list-showroom-footer {
  padding: 15px 0;
  overflow: hidden;
}

#list-showroom-footer li:first-child {
  padding-left: 0;
  border: none;
}

.bottom-ft {
  background-color: #f5f5f5;
  padding: 20px 0;
}

.bottom-ft ul {
  margin-bottom: 10px;
}

.bottom-ft ul li {
  margin: 0 5px;
}

.bottom-ft ul li span {
  background-color: #ff9300;
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  line-height: 28px;
  padding: 0 10px;
  display: inline-block;
  border-radius: 2px 0 0 2px;
  position: relative;
  margin-right: 20px;
}

.bottom-ft ul li span::before {
  content: "";
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 10px solid #ff9300;
  position: absolute;
  left: 100%;
  top: 0;
}

.bottom-ft ul li a {
  line-height: 28px;
  display: inline-block;
  background-color: #fff;
  border-radius: 2px;
  padding: 0 10px;
  color: #999;
}

.bottom-ft .view_mobile {
  background-color: #fff;
  color: #ff9300;
  border: 1px solid #ff9300;
  font-weight: bold;
  border-radius: 3px;
  line-height: 36px;
  display: inline-block;
  padding: 0 10px;
  margin-left: 10px;
}

/******  change custom *******/
body {
  background: #f5f5f5;
  height: auto;
}
.laptoptop {
  margin: 5px 0 10px;
}
.laptoptop > .row > .col-md-8 {
  padding-right: 5px;
}
.laptoptop > .row > .col-md-4 {
  padding-right: 15px !important;
}
.laptoptop .right .twobanner,
.laptoptop .right .twobanner a {
  margin-top: 0;
}
.laptoptop .right .twobanner a + a {
  margin-top: 5px;
}
.laptoptop .right .twobanner a img {
  height: calc(294px / 2);
}
.laptopcate .banner-bottom img {
  max-width: 100%;
}

.brand-slide {
  position: relative;
  margin: 10px 0;
}
.brand-slide .container {
  padding-left: 0;
  padding-right: 0;
}
.brand-slide .owl-brand {
  position: static;
}
.brand-slide .owl-brand .owl-item .item {
  background: #fff;
  padding: 10px;
}
.brand-slide .owl-brand .owl-item a {
  display: block;
  transition: 0.5s;
}
.brand-slide .owl-brand .owl-item a:hover {
  transform: scale(0.9);
}
.brand-slide .owl-brand .owl-item img {
  width: auto;
  max-width: 100%;
  margin: 0 auto;
}
.brand-slide .owl-brand .owl-nav .owl-prev, .brand-slide .owl-brand .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  width: 20px;
  text-indent: -999px;
}
.brand-slide .owl-brand .owl-nav .owl-prev {
  left: 15px;
}
.brand-slide .owl-brand .owl-nav .owl-next {
  right: 15px;
}
.brand-slide .owl-brand .owl-nav .owl-prev:before, .brand-slide .owl-brand .owl-nav .owl-next:after {
  content: '';
  position: absolute;
  top: 6px;
}
.brand-slide .owl-brand .owl-nav .owl-prev:before {
  width: 15px;
  height: 15px;
  border-top: 2px solid #333;
  border-left: 2px solid #333;
  transform: rotate(-45deg);
  left: 3px;
}
.brand-slide .owl-brand .owl-nav .owl-next:after {
  width: 15px;
  height: 15px;
  border-top: 2px solid #333;
  border-right: 2px solid #333;
  transform: rotate(45deg);
  right: 3px;
}
/* product */
.product-home {
  width: 100%;
}
.product-home .group-product-item {
  display: flex;
  flex-flow: row wrap;
}
.product-home .group-product-item .product-item-featured {
  position: relative;
}
.product-home .group-product-item .product-item-featured img {
  max-width: 100%;
}
.product-home .group-product-item .product-item-featured, .product-home .product_home-carousel .owl-stage .owl-item {
  background: #fff;
}
.product-home .group-product-item .product-item-featured {
  padding: 5px;
}
.product-home .product_home-carousel .product-item {
  background: #fff;
  padding: 5px;
  height: 100%;
}
.product-home .product_home-carousel .product-item + .product-item {
  margin-left: 10px;
}
.product-home .product_home-carousel .product-item > .p-img a {
  position: relative;
  overflow: hidden;
  display: block;
  padding-bottom: 90%;
}
.product-home .product_home-carousel .product-item.product-item-featured > .p-img a {
  padding-bottom: 100%;
}
.product-home .group-product-item .product-item-featured img, .product-home .product_home-carousel .product-item > .p-img a img {
  position: absolute;
  width: 100% !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.7s;
}
.product-home .group-product-item .product-item-featured img {
  width: calc(100% - 10px) !important;
}
.product-home .group-product-item .product-item-featured:hover img, .product-home .product_home-carousel .product-item > .p-img a:hover img {
  transform: translate(-50%, -50%) scale(0.95);
}
.product-home .product_home-carousel .product-item .p-emtry {
  margin-top: 5px;
}
.product-home .product_home-carousel .product-item .p-emtry > * {
  display: block;
  text-align: center;
}
.product-home .product_home-carousel .product-item .p-emtry > a {
  font-size: 20px;
  color: #f49b00;
  line-height: 1.4;
  margin-bottom: 10px;
  height: 52px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.product-home .product_home-carousel .product-item .p-emtry .p-summary {
  font-size: 13px;
  line-height: 1.3;
  max-height: 52px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.product-home .product_home-carousel .product-item img {
  max-width: 100%;
}
.product-home .product_home-carousel .product-item .p-emtry .p-price {
  position: absolute;
  width: calc(100% - 10px);
  left: 5px;
  bottom: 10px;
  background: #ff9300;
  font-size: 24px;
  line-height: 1.3;
  padding: 0px 15px;
  border-radius: 30px;
  font-weight: bold;
  color: #fff;
}
.product-home .product_home-carousel .product-item .p-hover {
  position: absolute;
  left: 100%;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: #fff;
  width: calc(100% + 12px);
  padding: 10px;
  -webkit-box-shadow: 0 0 10px 0 #ccc;
  box-shadow: 0 0 10px 0 #ccc;
  opacity: 0;
  -webkit-transition: 0.6s opacity ease-in-out, 0.9s z-index;
  transition: 0.6s opacity ease-in-out, 0.9s z-index;
}
.product-home .product_home-carousel .product-item .p-hover:after {
  content: "";
  position: absolute;
  border-width: 13px 13px 13px 0;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 100%;
}
.product-home .product_home-carousel .owl-stage .owl-item:nth-child(3n) .p-hover {
  left: auto;
  right: calc(100% + 5px);
}
.product-home .product_home-carousel .owl-stage .owl-item:nth-child(3n) .p-hover:after {
  border-width: 13px 0 13px 13px;
  border-color: transparent transparent transparent #fff;
  right: auto;
  left: 100%;
}
.product-home .product_home-carousel .owl-stage .owl-item:hover {
  z-index: 9;
}
.product-home .product_home-carousel .owl-stage .owl-item:hover .p-hover {
  opacity: 1;
  z-index: 1;
  -webkit-transition: 0s z-index, 0.6s opacity ease-in-out;
  transition: 0s z-index, 0.6s opacity ease-in-out;
}
.product-home .product_home-carousel .owl-stage .owl-item .p-hover:hover {
  z-index: -1;
  opacity: 0;
  width: 0;
  visibility: hidden;
}
.product-home .product-item .p-hover .p-name {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
  color: #333333;
  display: block;
}
.product-home .product-item .p-hover .p-price {
  color: #d70909;
  font-size: 18px;
  font-weight: 500;
  margin: 5px 0;
  display: block;
}
.product-home .product-item .p-hover .p-price ~ p {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 5px;
}
.product-home .product-item .p-hover .p-summary {
  font-size: 14px;
  line-height: 1.4;
}
.laptopnews .newslist li+li {
  border-top-color: #ddd;
}
.laptopnews a:hover, .laptopnews a:hover h3, .catetag a:hover {
  color: #f49b00;
}
.catetag {
  margin: 20px auto 0;
  overflow: hidden;
  background-color: #e1e1e1;
  padding: 30px 10px 20px;
  max-width: 100%;
  -webkit-box-shadow: inset 0 6px 22px -7px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 6px 22px -7px rgba(0, 0, 0, 0.4);
}
.p-list .p-item .p-emtry .p-summary {
    margin: 8px 0 10px;
    font-size: 13px;
    line-height: 1.4;
    color: #333333;
    display: block;
    height: 50px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.mobile-icon {
  z-index: 9999;
}

.product-slider .extra-carousel .item {
  position: relative;
}
.product-slider .extra-carousel .p-item {
  border: none;
  padding: 10px;
  background: #fff;
}
.product-slider .extra-carousel .p-item .p-img a {
  position: relative;
  overflow: hidden;
  display: block;
  padding-bottom: 100%;
}
.product-slider .extra-carousel .p-item .p-img a img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.7s;
}
.product-slider .extra-carousel .p-item .p-img a:hover img {
  transform: translate(-50%, -50%) scale(0.98);
  opacity: 0.8;
}
.product-slider .extra-carousel .p-item .p-name {
  color: #333;
  display: block;
  margin-top: 10px;
  line-height: 1.2;
  transition: 0.3s;
}
.product-slider .extra-carousel .p-item .p-name:hover {
  color: #ff9300;
}
.product-slider .extra-carousel .p-item .p-price {
  display: block;
  font-size: 16px;
  color: #cc0000;
  margin-bottom: 6px;
  margin-top: 5px;
}
.product-slider .extra-carousel .owl-nav > button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #000;
  margin: 0;
  transition: 0.3s;
}
.product-slider .extra-carousel .owl-nav > button.owl-prev {
  right: 0;
  border-radius: 5px 0 0 5px;
  -webkit-box-shadow: -5px 0 20px 0 #ccc;
  box-shadow: -5px 0 20px 0 #ccc;
  padding: 40px 10px 40px 15px !important;
  background-color: #fff;
}
.product-slider .extra-carousel .owl-nav > button.owl-next {
  left: 0;
  border-radius: 0 5px 5px 0px;
  -webkit-box-shadow: 5px 0 20px 0 #ccc;
  box-shadow: 5px 0 20px 0 #ccc;
  padding: 40px 15px 40px 10px !important;
  background-color: #fff;
}
.product-slider .extra-carousel .owl-nav > button.owl-prev:hover,
.product-slider .extra-carousel .owl-nav > button.owl-next:hover {
  background: rgba(255, 255,255 , 0.8);
}
.extra-carousel .owl-nav .owl-prev .arrow, .extra-carousel .owl-nav .owl-next .arrow {
  display: block;
  width: 12px;
  height: 12px;
  border-top: 3px solid #333;
  border-left: 3px solid #333;
}
.extra-carousel .owl-nav .owl-prev .arrow {
  transform: rotate(-45deg);
}
.extra-carousel .owl-nav .owl-next .arrow {
  transform: rotate(135deg);
}

@media ( min-width: 768px ) {
  .product-home .group-product-item .product-item-featured {
    width: 33%;
    margin-right: 10px;
  }
  
  .product-home .group-product-item .product_home-carousel {
    width: calc(67% - 10px);
  }
  .product-home .product_home-carousel .owl-stage-outer {
    overflow: visible;
  }
  .product-home .product_home-carousel .owl-stage .owl-item {
    padding-bottom: 53px;
  }
  .product-home .product_home-carousel .product-item.product-item-featured > .p-img {
    height: 100%;
  }
  .product-home .product_home-carousel .product-item.product-item-featured > .p-img a {
    height: 100%;
    padding: 0;
  }

  .banner-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .banner-footer img {
    max-width: 100%;
  }
  .banner-footer .item {
    width: calc((100% - 30px) / 3);
  }
  .banner-footer .item + .item {
    margin-left: 15px;
  }

  .newleter .newleter-form {
    width: 50%;
  }
}

@media ( max-width: 1199px ) and ( min-width: 992px ) {
  .laptoptop .right .twobanner a img {
    height: calc(241px / 2);
  }

  .product-home .pro-head .title h3 {
    padding: 0 40px 0 10px;
  }
  .product-home .product_home-carousel .product-item .p-emtry > a {
    font-size: 18px;
  }
  .product-home .product_home-carousel .product-item .p-emtry .p-price {
    font-size: 20px;
  }
  .product-home .pro-head .filter-price a, .product-home .product-item .p-hover .p-price ~ p, .product-home .product-item .p-hover .p-summary {
    font-size: 12px;
  }
  .product-home .product-item .p-hover .p-price {
    line-height: 1.2;
  }
  
  .product-home .product-item .p-hover .p-name {
    font-size: 16px;
    line-height: 1.4;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .product-home .product-item .p-hover hr {
    margin-top: 7px;
    margin-bottom: 7px;
  }
}

@media ( max-width: 991px ) and ( min-width: 768px ) {
  .container {
    max-width: 760px;
  }
  .laptoptop .right .twobanner a img {
    height: calc(190px / 2);
  }

  .product-home .pro-head .title h3 {
    padding: 0 40px 0 10px;
  }
  .product-home .pro-head .title h3 a {
    font-size: 16px;
  }
  .product-home .product_home-carousel .owl-stage .owl-item:not(:first-child) {
    padding-bottom: 35px;
  }
  .product-home .pro-head .filter-price a, .product-home .product-item .p-hover .p-price ~ p, .product-home .product-item .p-hover .p-summary {
    font-size: 11px;
  }
  .product-home .pro-head .filter-price {
    white-space: nowrap;
    max-width: 420px;
  }
  .product-home .pro-head .filter-price ul {
    overflow-y: auto;
    max-width: calc(100% - 70px);
  }
  
  .product-home .product_home-carousel .product-item .p-emtry > a {
    font-size: 14px;
    height: 36px;
  }
  .product-home .product_home-carousel .product-item .p-emtry .p-price {
    font-size: 16px;
    padding: 3px 10px;
  }
  .product-home .product_home-carousel .product-item .p-emtry .p-summary {
    font-size: 12px;
    height: auto;
    margin: 6px 0 5px;
  }
  .product-home .product-item .p-hover .p-name {
    font-size: 15px;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .product-home .product-item .p-hover .p-price {
    font-size: 14px;
    line-height: 1.2;
  }
  .product-home .product-item .p-hover hr {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media ( max-width: 767px ) {
  .laptoptop > .row > .col-md-8 {
    padding-right: 0;
  }
  .laptoptop .owl-carousel .owl-item img {
    height: auto !important;
  }
  .laptopnews {
    padding: 0;
  }
  
  .product-home + .product-home {
    margin-top: 20px;
  }
  .product-home .group-product-item .product-item-featured {
    width: 100%;
    margin-bottom: 10px;
  }
  .product-home .group-product-item .product-item-featured .p-img a {
    display: block;
    padding-bottom: 100%;
  }
  .product-home .product_home-carousel .product-item .p-hover {
    display: none;
  }
  .product-home .pro-head {
    margin: 5px 0 10px;
    flex-flow: row wrap;
    background: none;
  }
  .product-home .pro-head .title {
    position: relative;
    background: none;
    width: 100%;
  }
  .product-home .pro-head .title h3 {
    position: relative;
    display: table;
    margin: 0 auto;
    background: #ff9300;
    padding: 0 20px;
    border-radius: 5px;
    z-index: 2;
  }
  .product-home .pro-head .title:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #ff9300;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .product-home .pro-head .filter-price {
    width: 100%;
    margin: 0;
  }
  .product-home .pro-head .filter-price ul {
    max-width: calc(100% - 70px);
    white-space: nowrap;
    overflow-y: auto;
    padding: 5px 0;
  }
  .product-home .pro-head .filter-price a {
    text-transform: capitalize;
  }
  .product-home .pro-head .p-img img {
    max-width: 100%;
  }

  .product-home .product_home-carousel .owl-stage .owl-item {
    padding-bottom: 50px;
  }
  .product-home .product_home-carousel .product-item .p-emtry > a {
    height: auto;
  }
  .product-home .p-list {
    margin-left: 0;
    margin-right: 0;
  }
  .product-home .p-list .owl-item {
    padding: 0 5px;
  }
  .product-home .p-list .p-item {
    width: 100%;
    padding: 10px 10px 55px;
    flex: 0 0 auto;
    max-width: 100%;
    border: 1px solid #e2e2e2;
  }
  .product-home .p-list .p-item:last-child .p-hover {
    display: none;
  }
  .p-list .p-item .p-emtry .p-price {
    width: calc(100% - 20px);
    left: 10px;
  }
  .p-list .owl-controls {
    display: none !important;
  }
  .banner-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .banner-footer img {
    max-width: 100%;
  }
  .banner-footer .item {
    width: calc((100% - 20px) / 3);
  }
  .banner-footer .item + .item {
    margin-left: 10px;
  }

  .newleter .container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .newleter .newleter-text, .newleter .newleter-form {
    width: 100%;
  }
  .newleter .newleter-form {
    margin: 10px 0 0;
  }
}

@media ( max-width: 640px ) {
  .product-home .product_home-carousel .product-item .p-emtry > a {
    font-size: 18px;
  }
  .product-slider .extra-carousel .owl-nav > button.owl-next {
    padding: 20px 15px 20px 10px !important;
  }
  .product-slider .extra-carousel .owl-nav > button.owl-prev {
    padding: 20px 10px 20px 15px !important;
  }
}

@media ( max-width: 550px ) {
  .product-home .pro-head .title h3 {
    line-height: 30px;
  }
  .product-home .pro-head .title h3 a {
    font-size: 18px;
  }
  .product-home .product_home-carousel .product-item .p-emtry > a {
    font-size: 16px;
  }
  .product-home .product_home-carousel .product-item .p-emtry .p-price {
    font-size: 20px;
    padding: 2px 5px;
  }
  .p-list .p-item .p-emtry .p-name {
    font-size: 16px;
  }
  .p-list .p-item .p-emtry .p-summary {
    font-size: 12px;
  }
  .p-list .p-item .p-emtry .p-price {
    font-size: 20px;
  }

  .banner-footer .item {
    width: 100%;
    text-align: center;
  }
  .banner-footer .item + .item {
    margin: 10px 0 0;
  }
}

@media ( max-width: 480px ) {
  .extra-carousel .owl-nav > div {
    padding: 15px 10px !important;
    top: 40% !important;
  }
}

@media ( max-width: 400px ) {
  .product-home .product_home-carousel .owl-stage .owl-item {
    padding-bottom: 40px;
  }
  .product-home .product_home-carousel .product-item .p-emtry > a {
    font-size: 14px;
  }
  .product-home .product_home-carousel .product-item .p-emtry .p-summary {
    font-size: 12px;
  }
  .product-home .product_home-carousel .product-item .p-emtry .p-price {
    font-size: 16px;
  }
}