<div class="coloralert" style="background: #61aa21;">
    <p>@Localizer["Chúng tôi sẽ liên hệ với bạn sớm..."]</p>
    <a href="#close-alert" class="icon-text">✖</a>
</div>
<p>
    <a href="/">@Localizer["Quay về"]</a>
</p>
