@model SimplCommerce.Module.Comments.Areas.Comments.ViewModels.CommentForm

<div class="alert alert-success" role="alert">
    <h4>
        @Localizer["Cảm ơn bình luận của bạn.", Model.CommenterName]
    </h4>

    <p>@Localizer["Chúng tôi sẽ xử lý bình luận của bạn trong 24 giờ tới."]</p>
</div>
