@model IEnumerable<SimplCommerce.Module.News.Areas.News.ViewModels.NewsItemVm>


<style>
    .titledetail {
        display: block;
        overflow: hidden;
        line-height: 53px;
        font-size: 45px;
        color: #333;
        font-family: 'Roboto Condensed',sans-serif;
        font-weight: 600;
        width: 800px;
        margin: auto;
    }

    .newsrelate {
        /*display: flex;
        flex-direction: row;*/
        /*align-items: center;
        justify-content: center;*/
        margin-left: 240px;
        margin-right: 240px;
    }

        .newsrelate .tempvideo {
            display: block;
            position: relative;
            height: 105px;
            overflow: hidden;
        }

        .newsrelate img {
            display: block;
            width: 100%;
            max-height: 135px;
            margin: 0 auto;
        }

        .newsrelate h3 {
            display: block;
            overflow: hidden;
            line-height: 1.3em;
            font-size: 16px;
            color: #333;
            line-height: 22px;
            font-weight: 300;
            font-family: Arial,Helvetica,sans-serif;
            width: auto;
            margin: 5px auto;
        }

        .newsrelate .timepost {
            margin-top: 2px;
            display: block;
            overflow: hidden;
            font-size: 13px;
            color: #999;
        }

    .titlerelate {
        display: block;
        overflow: hidden;
        font-size: 18px;
        font-weight: 600;
        color: #333;
        font-family: 'Roboto Condensed',sans-serif;
        line-height: 26px;
        text-transform: uppercase;
        padding: 30px 20px 10px;
        margin: 0 20px;
        border-top: 1px solid #eee;
    }
</style>
<h5 class="titlerelate">Bài viết liên quan</h5>
<div class="row newsrelate">
    @foreach (var itemNew in Model)
    {
        <div class="col-sm-6 col-md-4">
            <a href="@itemNew.Slug" class="linkimg">
                <div class="tempvideo">
                    <img width="100" src="@itemNew.ThumbnailImageUrl">
                </div>
                <h3>
                    @itemNew.Name
                </h3>
                <span class="timepost">@itemNew.CreatedOn.ToString("dd/MM/yyyy")</span>
            </a>
        </div>
    }
    <div class="col-sm-6 col-md-4">
        <a href="/tin-tuc" class="linkimg">
           Xem thêm
        </a>
    </div>
</div>
