@model IList<SimplCommerce.Module.Catalog.Areas.Catalog.ViewModels.ProductThumbnail>

@if (Model.Any())
{
    <h3 class="p-t-25 p-b-25">@Localizer["Recently viewed products"]</h3>
    <div class="row product-list">
        <div class="navigat ">
        </div>
        <div id="owl-promo" class="owl-carousel homepromo ">
            @foreach (var product in Model)
            {
                <div class="item">
                    <partial name="/Themes/TheGioiDiDong/Areas/Catalog/Views/Shared/_ProductThumbnail.cshtml" model="product" />
                </div>
            }
        </div>
    </div>
}
