@model SimplCommerce.Module.Catalog.Areas.Catalog.ViewModels.ProductWidgetComponentVm
<div class="">
    <div class="navigat ">
        <h2>@Model.WidgetName</h2>
    </div>
    <div id="owl-promo" class="owl-carousel homepromo ">
        @foreach (var product in Model.Products)
        {
        <div class="item">
            <partial name="/Themes/TheGioiDiDong/Areas/Catalog/Views/Shared/_ProductThumbnail.cshtml" model="product" />
        </div>
        }
    </div>
</div>
