@model SimplCommerce.Module.Core.Areas.Core.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Trang chủ";
}

@section featured {
    <partial name="_WidgetInstances" model="Model.WidgetInstances.Where(x => x.WidgetZoneId == WidgetZoneIds.HomeFeatured)" />
}

<partial name="_WidgetInstances" model="Model.WidgetInstances.Where(x => x.WidgetZoneId == WidgetZoneIds.HomeMainContent)" />

<partial name="_WidgetInstances" model="Model.WidgetInstances.Where(x => x.WidgetZoneId == WidgetZoneIds.HomeAfterMainContent)" />
<!-- Start Services
   ============================================= -->
@*<div class="services-area inc-icon bg-gray carousel-shadow default-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="site-heading text-center">
                        <h2>Centres of <span>Excellence</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="services-items text-center services-carousel owl-carousel owl-theme">
                        <div class="item">
                            <div class="info">
                                <h4>
                                    <a href="#">Body Surgery</a>
                                </h4>
                                <div class="overlay">
                                    <i class="flaticon-medical"></i>
                                </div>
                                <p>
                                    Attachment astonished to on appearance imprudence so collecting in excellence. Tiled way blind lived whose new. The for fully had she there leave merit enjoy forth.
                                </p>
                                <a class="btn btn-theme border circle btn-md" href="#">Read More</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="info">
                                <h4>
                                    <a href="#">Dental Care</a>
                                </h4>
                                <div class="overlay">
                                    <i class="flaticon-anesthesia"></i>
                                </div>
                                <p>
                                    Attachment astonished to on appearance imprudence so collecting in excellence. Tiled way blind lived whose new. The for fully had she there leave merit enjoy forth.
                                </p>
                                <a class="btn btn-theme border circle btn-md" href="#">Read More</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="info">
                                <h4>
                                    <a href="#">Eye Care</a>
                                </h4>
                                <div class="overlay">
                                    <i class="flaticon-anatomy"></i>
                                </div>
                                <p>
                                    Attachment astonished to on appearance imprudence so collecting in excellence. Tiled way blind lived whose new. The for fully had she there leave merit enjoy forth.
                                </p>
                                <a class="btn btn-theme border circle btn-md" href="#">Read More</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="info">
                                <h4>
                                    <a href="#">Blood Cancer</a>
                                </h4>
                                <div class="overlay">
                                    <i class="flaticon-lung-cancer"></i>
                                </div>
                                <p>
                                    Attachment astonished to on appearance imprudence so collecting in excellence. Tiled way blind lived whose new. The for fully had she there leave merit enjoy forth.
                                </p>
                                <a class="btn btn-theme border circle btn-md" href="#">Read More</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="info">
                                <h4>
                                    <a href="#">Neurology Sargery</a>
                                </h4>
                                <div class="overlay">
                                    <i class="flaticon-thinking"></i>
                                </div>
                                <p>
                                    Attachment astonished to on appearance imprudence so collecting in excellence. Tiled way blind lived whose new. The for fully had she there leave merit enjoy forth.
                                </p>
                                <a class="btn btn-theme border circle btn-md" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<!-- End Services -->
<!-- Start Testimonials
============================================= -->
@*<div class="testimonials-area carousel-shadow bg-gray default-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="site-heading text-center">
                        <h2>Nhận xét <span>đối tác</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="testimonial-items testimonial-carousel owl-carousel owl-theme">
                        <div class="item">
                            <div class="content">
                                <p>
                                    Departure so attention pronounce satisfied daughters am. But shy tedious pressed studied opinion entered windows off. Advantage dependent suspicion convinced provision him yet. Mr immediate remaining conveying allowance do or.
                                </p>
                            </div>
                            <div class="provider">
                                <div class="thumb">
                                    <img src="~/themes/Beauty/img/team/6.jpg" alt="Thumb">
                                </div>
                                <div class="info">
                                    <h4>Angle Natasha</h4>
                                    <h5>patient of <span>surgery</span></h5>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <p>
                                    Departure so attention pronounce satisfied daughters am. But shy tedious pressed studied opinion entered windows off. Advantage dependent suspicion convinced provision him yet. Mr immediate remaining conveying allowance do or.
                                </p>
                            </div>
                            <div class="provider">
                                <div class="thumb">
                                    <img src="~/themes/Beauty/img/team/7.jpg" alt="Thumb">
                                </div>
                                <div class="info">
                                    <h4>John Abraham</h4>
                                    <h5>Dental <span>patients</span></h5>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <p>
                                    Departure so attention pronounce satisfied daughters am. But shy tedious pressed studied opinion entered windows off. Advantage dependent suspicion convinced provision him yet. Mr immediate remaining conveying allowance do or.
                                </p>
                            </div>
                            <div class="provider">
                                <div class="thumb">
                                    <img src="~/themes/Beauty/img/team/8.jpg" alt="Thumb">
                                </div>
                                <div class="info">
                                    <h4>Kriti Sairi</h4>
                                    <h5>patient of <span>surgery</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<!-- End Testimonials -->
<!-- Start Blog
============================================= -->
@await Component.InvokeAsync("NewItemHome")

<!-- End Blog -->
