@model IEnumerable<SimplCommerce.Module.Catalog.Areas.Catalog.ViewModels.CategoryMenuItem>
@using SimplCommerce.Module.Core.Extensions
@using SimplCommerce.Module.Core.Models
@inject IViewLocalizer Localizer
@inject IWorkContext WorkContext
@inject SignInManager<User> SignInManager


<div class="inner-wrap clearfix">
    <div class="home-icon front_page_on"> <a href="/" title="COLORMAG"><i class="fa fa-home"></i></a></div>
    <p class="menu-toggle"></p>
    <div class="menu-primary-container">
        <ul id="menu-primary" class="menu">
            @foreach (var item in Model)
            {
                <li id="menu-item-@item.Id" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-221">
                    <a title=" @item.Name" href="/@item.Slug"> @item.Name</a>
                    @if (item.ChildItems.Count > 0)
                    {
                        <ul class="sub-menu">
                            @foreach (var childItem in item.ChildItems)
                            {
                                <li><a href="/@childItem.Slug" id="menu-item-@item.Id" class="menu-item menu-item-type-custom menu-item-object-custom @item.Id">@childItem.Name</a></li>
                            }
                        </ul>
                    }
                </li>
            }
        </ul>
    </div>
    <div class="random-post">
        <a href="2015/03/20/a-paradise-for-holiday/index.html" title="View a random post">
            <i class="fa fa-random"></i>
        </a>
    </div>
    <i class="fa fa-search search-top"></i>
    <div class="search-form-top">
        <form action="https://demo.themegrill.com/colormag/" class="search-form searchform clearfix" method="get">
            <div class="search-wrap"> <input type="text" placeholder="Search" class="s field" name="s"> <button class="search-icon" type="submit"></button></div>
        </form>
    </div>
</div>
