@model IEnumerable<SimplCommerce.Module.News.Areas.News.ViewModels.NewsItemVm>

<ul>
    @foreach (var itemNew in Model)
    {

        <li><a href="@itemNew.Slug" title="@itemNew.Name"><i class="fa fa-circle"></i>@itemNew.Name</a></li>

    }
</ul>
