@model SimplCommerce.Module.Core.Areas.Core.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
<link simpl-append-version="true" rel="stylesheet" type="text/css" href="~/themes/TheGioiDiDong/css/style-home.css" />
<link simpl-append-version="true" rel="stylesheet" type="text/css" href="~/themes/TheGioiDiDong/css/owl.carousel.min.css" />
<link simpl-append-version="true" rel="stylesheet" type="text/css" href="~/themes/TheGioiDiDong/css/owl.theme.default.min.css" />
<style>
    @@media (min-width: 768px) {
        .col-md-2 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 19.999999%;
            flex: 0 0 19.999999%;
            max-width: 29.666667%;
        }
    }

    @@media (max-width: 768px) {
        .col-sm-6 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    .laptopnews .newslist h3 {
        display: block;
        overflow: hidden;
        font-size: 18px;
        font-weight: 600;
        text-transform: none;
        line-height: 1.3;
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .laptopnews .newslist figure {
        display: block;
        overflow: hidden;
        font-size: 14px;
        color: #333;
        line-height: 1.3;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        padding-top: 5px;
    }

    .laptopnews .newslist .tempvideo {
        float: left;
        position: relative;
        width: 142px;
        height: 69px;
        margin-right: 15px;
        margin-bottom: 0;
        overflow: hidden;
    }

        .laptopnews .newslist .tempvideo img {
            display: block;
            width: 100%;
            height: 100%;
        }

    .laptopnews .newslist li {
        padding-bottom: 10px;
        float: left;
    }

    img.first-new {
        width: 100%;
        height: auto;
    }

    .laptopnews h3 {
        font-size: 16px;
        font-weight: bold;
        display: block;
        text-transform: uppercase;
        margin-bottom: 10px;
        margin-top: 20px;
    }
</style>
@section head {
    <link simpl-append-version="true" rel="stylesheet" href="~/lib/nouislider/distribute/nouislider.min.css" />
}
@await Component.InvokeAsync("CarouselWidgetCategory")

<div class="laptopcate filtered">
    <div class="banner-bottom">

        <a href="#" rel="nofollow">
            <img src="~/themes/TheGioiDiDong/images/banner.png" />
        </a>
    </div>
    <section class="brand-slide">
        <div class="container">
            <div id="owl-category" class="owl-carousel owl-brand" data-items="8" data-dots="false" data-loop="true">

                <div class="item">
                    <a href="#" rel="nofollow">
                        <img src="~/themes/TheGioiDiDong/images/home-dell.png" alt="Dell">
                    </a>
                </div>

                <div class="item">
                    <a href="#" rel="nofollow">
                        <img src="~/themes/TheGioiDiDong/images/home-hp.png" alt="HP">
                    </a>
                </div>

                <div class="item">
                    <a href="#" rel="nofollow">
                        <img src="~/themes/TheGioiDiDong/images/home-thinkpad.png" alt="Thinkpad">
                    </a>
                </div>

                <div class="item">
                    <a href="#" rel="nofollow">
                        <img src="~/themes/TheGioiDiDong/images/home-lenono.png" alt="Lenovo">
                    </a>
                </div>

                <div class="item">
                    <a href="#" rel="nofollow">
                        <img src="~/themes/TheGioiDiDong/images/home-macbook.png" alt="Macbook">
                    </a>
                </div>

                @*<div class="item">
                        <a href="#" rel="nofollow">
                            <img src="~/themes/TheGioiDiDong/images/home-msi.png" alt="MSI">
                        </a>
                    </div>*@

                <div class="item">
                    <a href="#" rel="nofollow">
                        <img src="~/themes/TheGioiDiDong/images/home-lg.png" alt="LG">
                    </a>
                </div>

                <div class="item">
                    <a href="#" rel="nofollow">
                        <img src="~/themes/TheGioiDiDong/images/home-acer.png" alt="ACER">
                    </a>
                </div>

                <div class="item">
                    <a href="#" rel="nofollow">
                        <img src="~/themes/TheGioiDiDong/images/home-asus.png" alt="ASUS">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <div class="row">
        <partial name="_WidgetInstances" model="Model.WidgetInstances.Where(x => x.WidgetZoneId == WidgetZoneIds.HomeMainContent)" />
    </div>
    @await Component.InvokeAsync("NewItemHome")
</div>

@section scripts {
    <inline-script src="/lib/wnumb/wNumb.js"></inline-script>
    <inline-script src="/lib/nouislider/distribute/nouislider.min.js"></inline-script>

    <script>
        var productFilter = {};
        var count = 2;
    </script>
    <script src="~/themes/TheGioiDiDong/js/owl.carousel.min.js"></script>
    <script src="~/themes/TheGioiDiDong/js/script-home.js"></script>
    <inline-script src="/themes/TheGioiDiDong/js/category.min.js"></inline-script>
    <inline-script src='/themes/TheGioiDiDong/images/cdn/v2015/Scripts/desktop/V5/home.min.js'></inline-script>
}
