
@font-face {
  font-family: 'VNI-Franko';
  src: url('../fonts/VNI-Frankod41d.eot?#iefix') format('embedded-opentype'),  url('../fonts/VNI-Franko.woff') format('woff'), url('../fonts/VNI-Franko.ttf')  format('truetype'), url('../fonts/VNI-Franko.svg#VNI-Franko') format('svg');
  font-weight: normal;
  font-style: normal;
}
