

@model SimplCommerce.Module.Core.Areas.Core.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
@*<section>
        <partial name="_WidgetInstances" model="Model.WidgetInstances.Where(x => x.WidgetZoneId == WidgetZoneIds.HomeFeatured)" />
        <aside class="homenews">
            @await Component.InvokeAsync("NewItem")
        </aside>
        <div class="clr"></div>
        <div class="laptopcate filtered">
            <div class="laptopmanu">
                <a href="macbook-cu"><img src="~/themes/TheGioiDiDong/images/cdn/Brand/1/Macbook44-b_34.png" /></a>
                <a href="laptop-dell-cu"><img src="~/themes/TheGioiDiDong/images/cdn/Brand/1/Dell44-b_34.jpg" /></a>
                <a href="laptop-asus-cu"><img src="~/themes/TheGioiDiDong/images/cdn/Brand/1/Asus44-b_35.jpg" /></a>
                <a href="laptop-hp-cu"><img src="~/themes/TheGioiDiDong/images/cdn/Brand/1/HP-Compaq44-b_36.jpg" /></a>
                <a href="laptop-lenovo-cu"><img src="~/themes/TheGioiDiDong/images/cdn/Brand/1/Lenovo44-b_36.jpg" /></a>
                <a href="laptop-msi-cu"><img src="~/themes/TheGioiDiDong/images/cdn/Brand/1/MSI44-b_30.png" /></a>
            </div>
        </div>
        ﻿<partial name="_WidgetInstances" model="Model.WidgetInstances.Where(x => x.WidgetZoneId == WidgetZoneIds.HomeMainContent)" />

    </section>*@
<div class="front-page-top-section clearfix">
    <div class="widget_slider_area">
        <section id="colormag_featured_posts_slider_widget-4" class="widget widget_featured_slider widget_featured_meta clearfix">
            @await Html.PartialAsync("_WidgetInstances", @Model.WidgetInstances.Where(x => x.WidgetZoneId == WidgetZoneIds.HomeFeatured))
        </section>
    </div>
    <div class="widget_beside_slider">
        <section id="colormag_highlighted_posts_widget-3" class="widget widget_highlighted_posts widget_featured_meta clearfix">
            <div class="widget_highlighted_post_area">
                <div class="single-article">
                    <figure class="highlights-featured-image"><a href="2015/03/24/music-is-passion/index.html" title="Music is Passion"><img width="392" height="272" src="~/themes/TramHuongKyNam/images/wp-content/uploads/sites/20/2015/03/bride-301814_1280-392x272.jpg" class="attachment-colormag-highlighted-post size-colormag-highlighted-post wp-post-image" alt="Music is Passion" title="Music is Passion" sizes="(max-width: 392px) 100vw, 392px" /></a></figure>
                    <div class="article-content">
                        <div class="above-entry-meta"><span class="cat-links"><a href="category/entertainment/index.html" style="background:#e8357c" rel="category tag">Entertainment</a>&nbsp;<a href="category/featured/index.html" style="background:#a4c4be" rel="category tag">FEATURED</a>&nbsp;</span></div>
                        <h3 class="entry-title"> <a href="2015/03/24/music-is-passion/index.html" title="Music is Passion">Music is Passion</a></h3>
                        <div class="below-entry-meta"> <span class="posted-on"><a href="2015/03/24/music-is-passion/index.html" title="7:52 am" rel="bookmark"><i class="fa fa-calendar-o"></i> <time class="entry-date published" datetime="2015-03-24T07:52:02+00:00">March 24, 2015</time></a></span> <span class="byline"><span class="author vcard"><i class="fa fa-user"></i><a class="url fn n" href="author/demothemegrill/index.html" title="TG-Demo Team">TG-Demo Team</a></span></span> <span class="comments"><i class="fa fa-comment"></i><span>Comments Off<span class="screen-reader-text"> on Music is Passion</span></span></span></div>
                    </div>
                </div>
                <div class="single-article">
                    <figure class="highlights-featured-image"><a href="2015/03/20/a-paradise-for-holiday/index.html" title="A Paradise for Holiday"><img width="392" height="272" src="~/themes/TramHuongKyNam/images/wp-content/uploads/sites/20/2015/03/sea-418742_1920-392x272.jpg" class="attachment-colormag-highlighted-post size-colormag-highlighted-post wp-post-image" alt="A Paradise for Holiday" title="A Paradise for Holiday" sizes="(max-width: 392px) 100vw, 392px" /></a></figure>
                    <div class="article-content">
                        <div class="above-entry-meta"><span class="cat-links"><a href="category/entertainment/index.html" style="background:#e8357c" rel="category tag">Entertainment</a>&nbsp;<a href="category/featured/index.html" style="background:#a4c4be" rel="category tag">FEATURED</a>&nbsp;<a href="category/general/index.html" style="background:#a38a6d" rel="category tag">General</a>&nbsp;</span></div>
                        <h3 class="entry-title"> <a href="2015/03/20/a-paradise-for-holiday/index.html" title="A Paradise for Holiday">A Paradise for Holiday</a></h3>
                        <div class="below-entry-meta"> <span class="posted-on"><a href="2015/03/20/a-paradise-for-holiday/index.html" title="7:16 am" rel="bookmark"><i class="fa fa-calendar-o"></i> <time class="entry-date published" datetime="2015-03-20T07:16:59+00:00">March 20, 2015</time></a></span> <span class="byline"><span class="author vcard"><i class="fa fa-user"></i><a class="url fn n" href="author/demothemegrill/index.html" title="TG-Demo Team">TG-Demo Team</a></span></span> <span class="comments"><i class="fa fa-comment"></i><span>Comments Off<span class="screen-reader-text"> on A Paradise for Holiday</span></span></span></div>
                    </div>
                </div>
                <div class="single-article">
                    <figure class="highlights-featured-image"><a href="2015/03/20/kayaking-adventurous-sport/index.html" title="Kayaking: Adventurous Sport"><img width="392" height="272" src="~/themes/TramHuongKyNam/images/wp-content/uploads/sites/20/2015/03/kayaking-569282_1280-392x272.jpg" class="attachment-colormag-highlighted-post size-colormag-highlighted-post wp-post-image" alt="Kayaking: Adventurous Sport" title="Kayaking: Adventurous Sport" sizes="(max-width: 392px) 100vw, 392px" /></a></figure>
                    <div class="article-content">
                        <div class="above-entry-meta"><span class="cat-links"><a href="category/featured/index.html" style="background:#a4c4be" rel="category tag">FEATURED</a>&nbsp;<a href="category/general/index.html" style="background:#a38a6d" rel="category tag">General</a>&nbsp;<a href="category/sports/index.html" style="background:#dd5a5a" rel="category tag">Sports</a>&nbsp;</span></div>
                        <h3 class="entry-title"> <a href="2015/03/20/kayaking-adventurous-sport/index.html" title="Kayaking: Adventurous Sport">Kayaking: Adventurous Sport</a></h3>
                        <div class="below-entry-meta"> <span class="posted-on"><a href="2015/03/20/kayaking-adventurous-sport/index.html" title="6:41 am" rel="bookmark"><i class="fa fa-calendar-o"></i> <time class="entry-date published" datetime="2015-03-20T06:41:07+00:00">March 20, 2015</time></a></span> <span class="byline"><span class="author vcard"><i class="fa fa-user"></i><a class="url fn n" href="author/demothemegrill/index.html" title="TG-Demo Team">TG-Demo Team</a></span></span> <span class="comments"><i class="fa fa-comment"></i><span>Comments Off<span class="screen-reader-text"> on Kayaking: Adventurous Sport</span></span></span></div>
                    </div>
                </div>
                <div class="single-article">
                    <figure class="highlights-featured-image"><a href="2015/03/19/tennis-match-go-federer/index.html" title="Tennis Match: Go Federer"><img width="392" height="272" src="~/themes/TramHuongKyNam/images/wp-content/uploads/sites/20/2015/03/clouds-sky-stadium-4516-392x272.jpg" class="attachment-colormag-highlighted-post size-colormag-highlighted-post wp-post-image" alt="Tennis Match: Go Federer" title="Tennis Match: Go Federer" /></a></figure>
                    <div class="article-content">
                        <div class="above-entry-meta"><span class="cat-links"><a href="category/entertainment/index.html" style="background:#e8357c" rel="category tag">Entertainment</a>&nbsp;<a href="category/fashion/index.html" style="background:#bd4cce" rel="category tag">Fashion</a>&nbsp;<a href="category/featured/index.html" style="background:#a4c4be" rel="category tag">FEATURED</a>&nbsp;<a href="category/sports/index.html" style="background:#dd5a5a" rel="category tag">Sports</a>&nbsp;</span></div>
                        <h3 class="entry-title"> <a href="2015/03/19/tennis-match-go-federer/index.html" title="Tennis Match: Go Federer">Tennis Match: Go Federer</a></h3>
                        <div class="below-entry-meta"> <span class="posted-on"><a href="2015/03/19/tennis-match-go-federer/index.html" title="3:53 pm" rel="bookmark"><i class="fa fa-calendar-o"></i> <time class="entry-date published" datetime="2015-03-19T15:53:24+00:00">March 19, 2015</time></a></span> <span class="byline"><span class="author vcard"><i class="fa fa-user"></i><a class="url fn n" href="author/demothemegrill/index.html" title="TG-Demo Team">TG-Demo Team</a></span></span> <span class="comments"><i class="fa fa-comment"></i><span>Comments Off<span class="screen-reader-text"> on Tennis Match: Go Federer</span></span></span></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="main-content-section clearfix">
    <div id="primary">
        <div id="content" class="clearfix">
            @await Html.PartialAsync("_WidgetInstances", Model.WidgetInstances.Where(x => x.WidgetZoneId == WidgetZoneIds.HomeMainContent))
        </div>
    </div>
    @await Component.InvokeAsync("NewProduct")
</div>
