.cookie-consent-container {
  background-color: #262626;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 30px;
  width: 100%;
  display: none;
  z-index: 2000;
  -ms-flex-align: center;
  align-items: center; }
  .cookie-consent-container a:hover {
    color: white; }
  @media (max-width: 767px) {
    .cookie-consent-container {
      -ms-flex-direction: column;
      flex-direction: column; } }
  .cookie-consent-container p {
    color: #d6d5ba;
    margin: 0;
    font-size: 14px;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-right: 15px; }
    @media (max-width: 767px) {
      .cookie-consent-container p {
        margin-bottom: 15px; } }
  .cookie-consent-container div {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center; }
    .cookie-consent-container div a {
      white-space: nowrap; }
    .cookie-consent-container div input {
      margin: 0 15px;
      color: white;
      background-color: #4b59c0;
      border-radius: 25px;
      padding: 5px 10px;
      border: none; }
    .cookie-consent-container div i {
      color: white;
      font-size: 22px;
      cursor: pointer; }

.checkbox-label-container {
  margin-bottom: 15px; }
  .checkbox-label-container input[type='checkbox'] {
    display: inline-block; }

#form-privacy-policy {
  border-top: 1px solid #ebebeb; }
  #form-privacy-policy input {
    float: none; }

.terms-gdpr {
  margin-bottom: 15px;
  width: 100%;
  padding: 0 15px; }

.GDPR-data-container {
  display: none; }
  .GDPR-data-container h2 {
    display: block;
    margin-bottom: 0; }
  .GDPR-data-container table {
    margin-bottom: 15px; }
  .GDPR-data-container .all-user-orders-data-container .order-container-opener {
    padding: 10px;
    background-color: #ebebeb;
    cursor: pointer; }
  .GDPR-data-container .all-user-orders-data-container .order-container {
    display: none;
    padding: 0 15px; }
    .GDPR-data-container .all-user-orders-data-container .order-container .order {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .GDPR-data-container .all-user-orders-data-container .order-container .order:hover {
        background-color: #ebebeb; }

.uploader .moxie-shim {
  top: auto !important;
  bottom: 11px;
  cursor: pointer; }

.plupload_container {
  min-height: 0 !important; }
  .plupload_container .plupload .plupload_header {
    display: none; }
  .plupload_container .plupload .plupload_content {
    position: static; }
    .plupload_container .plupload .plupload_content .plupload_filelist_header {
      display: -ms-flexbox;
      display: flex; }
      .plupload_container .plupload .plupload_content .plupload_filelist_header div {
        padding: 0;
        width: 20%; }
    .plupload_container .plupload .plupload_content .plupload_filelist li {
      display: -ms-flexbox;
      display: flex; }
      .plupload_container .plupload .plupload_content .plupload_filelist li div {
        padding: 0;
        width: 20%; }
    .plupload_container .plupload .plupload_content .plupload_filelist .plupload_droptext {
      display: none; }
    .plupload_container .plupload .plupload_content .plupload_filelist_footer {
      position: static;
      display: -ms-flexbox;
      display: flex;
      margin-top: 20px; }
      .plupload_container .plupload .plupload_content .plupload_filelist_footer .plupload_file_status, .plupload_container .plupload .plupload_content .plupload_filelist_footer .plupload_file_size {
        text-align: left; }
      .plupload_container .plupload .plupload_content .plupload_filelist_footer .plupload_file_name .plupload_buttons {
        float: none; }
        .plupload_container .plupload .plupload_content .plupload_filelist_footer .plupload_file_name .plupload_buttons .plupload_add {
          margin-right: 10px; }
      .plupload_container .plupload .plupload_content .plupload_filelist_footer .plupload_file_name .plupload_upload_status {
        height: 12px; }
      .plupload_container .plupload .plupload_content .plupload_filelist_footer div {
        padding: 0;
        width: 20%; }
      .plupload_container .plupload .plupload_content .plupload_filelist_footer .plupload_clearer {
        display: none; }

.container .course-info-wrap #myaccordion .course-lesson-item .step-text div {
  display: block !important; }

.container .program-step-wrap .day-item div {
  display: block !important;
}

@media (min-width: 1220px) {
  .large-title {
    margin-top: 200px !important; } }

/*# sourceMappingURL=app.css.map */
