@model IEnumerable<SimplCommerce.Module.Cms.Areas.Cms.ViewModels.PageForm>

<section id="footer-widget">

    <div class="container">
        <div class="footer-item-wrap">
            <div class="footer-item">
                <div class="footer-logo">
                    <img src="~/themes/Gallery/public/assets/images/icons/logo_BalticBrows.svg" alt="Footer logo">
                </div>
                <div class="footer-socal">
                    <a target="_blank" href="#" class="socal">
                        <span class="icon icon-facebook"></span>
                    </a>
                    <a target="_blank" href="#" class="socal">
                        <span class="icon icon-instagram"></span>
                    </a>
                </div>
            </div>
            <div class="footer-item">
                <div class="contact-info">
                    <div class="contact-item">
                        <span data-icon="C" class="icon"></span>
                        <div class="contact-text"> S. Daukanto 26-3, Kaunas, Lithuania LT-44246</div>
                    </div>

                    <div class="contact-item">
                        <span data-icon="F" class="icon"></span>
                        <div class="contact-text">+370 623 86527</div>
                    </div>

                    <div class="contact-item">
                        <span data-icon="G" class="icon"></span>
                        <div class="contact-text"> balticbrows@gmail.com</div>
                    </div>

                    <div class="contact-item">
                        <span data-icon="G" class="icon"></span>
                        <div class="contact-text"> info@balticbrows.com</div>
                    </div>
                </div>
            </div>

            <div class="footer-item">
                <div class="shop-container">
                    <div class="shop-title">
                        <div class="shop-main-title">Visit our e-store at</div>
                        <div class="shop-main-url">

                            <a href="#shop">www.shopbalticbrows.com </a>
                        </div>
                    </div>
                    <div class="shop-btn">
                        <a href="#" target="_blank">
                            <span data-icon="E" class="icon"></span>
                            <div class="shop-btn-text">Shop Now!</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer-item">
                <div class="news-letter-wrap">
                    <div class="news-letter-text">
                        <div class="news-letter-title-big">
                            Newsletter subscription
                        </div>
                        <div class="news-letter-title-small">
                            Get the best deals first!
                        </div>
                    </div>
                    <div class="news-letter-input">
                        <form method="POST" action="#" accept-charset="UTF-8" id="newsletter_form">
                            <input name="_token" type="hidden" value="LPDotKUGvXSIszbGv23jqh8VPx0irbQQckanfDZg">
                            <input type="email" placeholder="Enter Your email address" name="email"
                                   id="email" class="field_news_letter">
                            <input type="submit" value="Subscribe" class="button_news_letter">

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class='cookie-consent-container'>
    <p>
        We use cookies to understand how you use our site and to improve your experience. To learn more,<a target='blank' href='~/themes/Gallery/public/uploads/documents/Cookie_policy.pdf'>click here</a>
        By continuing to use our site, you accept our use of cookies, revised<a target='blank' href='~/themes/Gallery/public/uploads/documents/Terms_and_conditions_en.pdf'>Privacy Policy and Terms of Use.</a>
    </p>
    <div>
        <input type='button' value='I accept' class='btn-agree' />
        <i class='icon icon-times'></i>
    </div>
</div>

<footer>
    <div class="container footer-cont">
        <span class="copy">&copy; 2019 JA Brows. All Rights Reserved.</span>
    </div>
</footer>
