@model SimplCommerce.Module.Cms.Areas.Cms.ViewModels.PageForm

<div class="block">
    <div class="featured-block">
        <div class="article-content">
            <h3><a href="post.html">Cucphuong National Park Vietnam</a><a href="post.html#comments" class="h-comment">43</a></h3>
            <span class="meta">
                <a href="blog.html"><span class="icon-text">&#128340; </span>11:20, 7.Oct 2013</a>
            </span>
        </div>
        <div class="article-photo">
            <iframe width="250" height="250" src="https://www.youtube.com/embed/WXrSkhOD7GQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="block">
    <h2 class="list-title">USEFUL LINKS</h2>
    <ul class="article-list">
        <li><a href="post.html">Tạp chí bảo vệ rừng và môi trường</a><a href="post.html#comments" class="h-comment">32</a><span class="meta-date">7.Oct</span></li>
        <li><a href="post.html">Endangered primate Rescue Center</a><a href="post.html#comments" class="h-comment">84</a><span class="meta-date">7.Oct</span></li>
        <li><a href="post.html">Lus eleifend hom pertinacia hom pertinacia</a><a href="post.html#comments" class="h-comment">72</a><span class="meta-date">6.Oct</span></li>
        <li><a href="post.html">Pri viderer recteque exp inimicusis verear minimum vim</a><a href="post.html#comments" class="h-comment">136</a><span class="meta-date">6.Oct</span></li>
        <li><a href="post.html">Ocurr comprehensam recteq comprehensam recteq</a><a href="post.html#comments" class="h-comment">8</a><span class="meta-date">6.Oct</span></li>
        <li><a href="post.html">Ut oratio viderer evertim</a><a href="post.html#comments" class="h-comment">92</a><span class="meta-date">5.Oct</span></li>
    </ul>
    <a href="blog.html" class="more">Read More</a>
</div>
